* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #5685FF;
}

@font-face {
  font-family: "Gilroy";
  src: url("../font/Gilroy-SemiBold.eot");
  src: local("Gilroy SemiBold"), local("Gilroy-SemiBold"), url("../font/Gilroy-SemiBold.eot?#iefix") format("embedded-opentype"), url("../font/Gilroy-SemiBold.woff") format("woff"), url("../font/Gilroy-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../font/Gilroy-Light.eot");
  src: local("Gilroy Light"), local("Gilroy-Light"), url("../font/Gilroy-Light.eot?#iefix") format("embedded-opentype"), url("../font/Gilroy-Light.woff") format("woff"), url("../font/Gilroy-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../font/Gilroy-Regular.eot");
  src: local("Gilroy Regular"), local("Gilroy-Regular"), url("../font/Gilroy-Regular.eot?#iefix") format("embedded-opentype"), url("../font/Gilroy-Regular.woff") format("woff"), url("../font/Gilroy-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../font/Gilroy-Medium.eot");
  src: local("Gilroy Medium"), local("Gilroy-Medium"), url("../font/Gilroy-Medium.eot?#iefix") format("embedded-opentype"), url("../font/Gilroy-Medium.woff") format("woff"), url("../font/Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../font/Gilroy-UltraLight.eot");
  src: local("Gilroy UltraLight"), local("Gilroy-UltraLight"), url("../font/Gilroy-UltraLight.eot?#iefix") format("embedded-opentype"), url("../font/Gilroy-UltraLight.woff") format("woff"), url("../font/Gilroy-UltraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../font/Gilroy-Bold.eot");
  src: local("Gilroy Bold"), local("Gilroy-Bold"), url("../font/Gilroy-Bold.eot?#iefix") format("embedded-opentype"), url("../font/Gilroy-Bold.woff") format("woff"), url("../font/Gilroy-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../font/Gilroy-Thin.eot");
  src: local("Gilroy Thin"), local("Gilroy-Thin"), url("../font/Gilroy-Thin.eot?#iefix") format("embedded-opentype"), url("../font/Gilroy-Thin.woff") format("woff"), url("../font/Gilroy-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../font/Gilroy-Black.eot");
  src: local("Gilroy Black"), local("Gilroy-Black"), url("../font/Gilroy-Black.eot?#iefix") format("embedded-opentype"), url("../font/Gilroy-Black.woff") format("woff"), url("../font/Gilroy-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

.landing {
  margin: 0;
  padding: 0;
  /******* HEADER *******/
  /******* SECTION 1 *******/
  /******* SECTION 2 *******/
  /******* SECTION 3,4 *******/
  /******* SECTION 5 *******/
  /******* SECTION 6 ******/
  /******* SECTION 7 *******/
}

.landing .safari-bar {
  width: 100%;
  display: flex;
  position: relative;
}

.landing .safari-bar img {
  width: 100%;
  max-width: 100%;
  height: 100%;
}

.landing .section-7,
.landing .section-6,
.landing .section-5 {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 80px 0;
}

.landing header {
  display: flex;
  position: fixed;
  width: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff;
  z-index: 100;
}

.landing header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
}

.landing header .login-block ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.landing header .login-block ul li {
  padding: 0 16px;
}

.landing header .login-block ul li a.btn.small {
  display: flex;
  align-items: center;
  color: #ffffff;
  background: #51B696;
  padding: 10px 12px;
}

.landing header .login-block ul li a {
  color: #303E60;
  border-radius: 3px;
  padding: 10px 12px;
}

.landing header .login-block ul li a:hover {
  color: #51B696;
  background: #f7f7f7;
  animation: none;
}

.landing header .login-block ul li a.btn.small:hover {
  background-color: #1a7a5c;
}

.landing header nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}

.landing header nav ul .submenu {
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 11px 8px rgba(0, 0, 0, 0.1);
  z-index: 9999;
  position: absolute;
  min-width: 360px;
  justify-content: flex-start;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px 0;
  display: none;
}

.landing header nav ul .submenu li {
  margin: 0;
  width: 100%;
  display: flex;
  align-items: center;
}

.landing header nav ul .submenu li a {
  display: flex;
  width: 100%;
}

.landing header nav ul .submenu li span {
  width: 28px;
  display: inline-flex;
  padding-right: 8px;
}

.landing header nav ul .submenu li span img {
  width: 24px;
}

.landing header nav ul li {
  padding: 0 16px;
  flex: auto;
}

.landing header nav ul li a {
  display: flex;
  align-items: center;
  color: #303E60;
  padding: 10px 12px;
  border-radius: 3px;
}

.landing header nav ul li a span.play {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  margin-right: 16px;
  animation: pulse 1.5s infinite;
}

.landing header nav ul li a:hover {
  color: #51B696;
  background: #f7f7f7;
  animation: none;
}

.landing header nav ul li a.demo {
  color: #51B696;
}

.landing header nav>ul>li:hover ul.submenu {
  display: block;
}

.landing main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.landing .section-1 {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 150px 0 80px;
  background: #fff url(../img/pattern.svg) center center no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.landing .section-1 .container {
  flex-direction: row;
}

.landing .section-1 .container .col-50 {
  justify-content: center;
  width: 50%;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
}

.landing .section-1 .container .col-50 p {
  font-size: 20px;
}

.landing .section-1 .container .col-50.form-text {
  padding-right: 100px;
}

.landing .section-1 .container .col-50.form-text button {
  border-radius: 0 3px 3px 0;
}

.landing .section-1 .container .col-50.form-text .form-control input[type=email] {
  border-radius: 3px 0 0 3px;
}

.landing .section-1 .tooltip {
  width: 300px;
}

.landing .section-1 .tooltip .tooltip-content {
  top: 32px;
  font-weight: 600;
  line-height: 1.3;
}

.landing .section-1 .tooltip .success-ya span {
  margin: 0 4px;
}

.landing .section-1 .tooltip .tooltip-content__body a {
  color: #5685FF !important;
}

.landing .section-1 .tooltip .tooltip-content__body a:hover {
  text-decoration: underline;
  color: #0048ff !important;
}

.landing .section-1 .success-ya {
  border-radius: 4px;
  align-items: center;
  padding: 4px 8px;
  background-color: #F2FAFE;
  display: inline-flex;
  margin-bottom: 32px;
}

.landing .section-1 .text-info {
  color: #51B696;
}

.landing .section-2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 80px 0;
}

.landing .section-2 .bg-blue {
  background: linear-gradient(180deg, #EFF9FE 0%, #E2F6FF 100%);
  padding: 40px;
  width: 100%;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
}

.landing .section-2 .bg-blue .item-block {
  flex: 1;
  display: flex;
  margin: 0 32px;
}

.landing .section-2 .bg-blue .item-block img {
  flex: none;
  width:78px;
}

.landing .screen-site{
  display: block;
  width:100%;
  max-width: 100%;
}

.landing .section-2 .bg-blue .item-block .title {
  font-family: Gilroy;
  font-size: 24px;
  font-style: normal;
  font-weight: bold;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: #303E60;
}

.landing .section-3,
.landing .section-4 {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 80px 0;
}

.landing .section-3 .container,
.landing .section-4 .container {
  display: flex;
  flex-direction: row;
}

.landing .section-3 .container .col,
.landing .section-4 .container .col {
  flex: 1;
}

.landing .section-3 .container .col.title,
.landing .section-4 .container .col.title {
  padding-right: 32px;
}

.landing .section-3 .container .col .item-list,
.landing .section-4 .container .col .item-list {
  display: flex;
  width: 100%;
  flex-direction: row;
  margin-bottom: 40px;
  padding: 0 32px;
}

.landing .section-3 .container .col .item-list .title,
.landing .section-4 .container .col .item-list .title {
  font-family: Gilroy;
  font-size: 24px;
  font-style: normal;
  font-weight: bold;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: #303E60;
  margin-bottom: 8px;
}

.landing .section-3 .container .col .item-list .img,
.landing .section-4 .container .col .item-list .img {
  width: 70px;
  flex: none;
  margin-right: 24px;
  text-align: right;
  justify-content: flex-end;
}

.landing .section-3 .container .col .item-list .img img {
  width: 100%;
  max-width: 70px;
}

.landing .section-5 .container {
  display: flex;
  align-items: center;
}

.landing .section-5 .container .col-50 {
  flex: 1;
  padding: 0 80px 0 0;
  flex-direction: column;
}

.landing .section-5 .container .container_video {
  position: relative;
}

.landing .section-5 .container .container_video:after {
  content: "";
  z-index: -1;
  width: 320px;
  height: 320px;
  border-radius: 160px;
  background: #F5F9FC;
  top: -24px;
  left: -24px;
  position: absolute;
}

.landing .section-6 {
  background: #F5F9FC url(../img/pattern.svg) center center no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin: 60px 0;
  padding: 80px 0;
  overflow: hidden;
}

.landing .section-6 .container.auto .col.auto {
  flex: 1;
}

.landing .section-6 .container.auto .col.auto form input,
.landing .section-6 .container.auto .col.auto form button {
  width: 100%;
  display: flex;
}

.landing .section-6 .container.auto .send-form {
  width: 80%;
}

.landing .section-6 .billy {
  position: relative;
}

.landing .section-6 .billy .billy-seet {
  position: absolute;
  right: 0;
  bottom: -84px;
}

.landing .section-6 .billy .dashboard {
  padding-left: 40px;
}

.landing .section-7 {
  overflow: hidden;
}

.landing .section-7 .container {
  flex-direction: row;
}

.landing .section-7 .container .title {
  padding-right: 16px;
  flex-grow: 1;
  width: 25%;
}

.landing .section-7 .container .price-container {
  padding-left: 16px;
  display: flex;
  flex-direction: row;
  flex-grow: 3;
  width: 75%;
}

.landing .price-item {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.landing .price-item:hover {
  background: #F5F9FC;
  border-radius: 8px;
}

.landing .price-item.primary {
  background: #F5F9FC;
  border-radius: 8px;
  border: 1px solid #67aadd;
}

.landing .price-item .name-tarif {
  font-family: Gilroy;
  font-size: 24px;
  font-style: normal;
  font-weight: bold;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: #303E60;
  padding-bottom: 12px;
  border-bottom: 1px solid #A8C0D5;
  margin-bottom: 24px;
}

.landing .price-item .count-container {
  cursor: pointer;
  font-size: 16px;
  line-height: 1;
  margin-bottom: 40px;
}

.landing .price-item .count-container .year,
.landing .price-item .count-container .visit {
  display: flex;
  margin-bottom: 12px;
  align-items: flex-end;
  position: relative;
}

.landing .price-item .count-container span {
  font-size: 30px;
  line-height: 1;
  font-weight: 600;
  margin: 0 4px;
}

.landing .price-item .count-container span img {
  opacity: 0.5;
  display: block;
  margin-top: 6px;
  width: 16px;
}

.landing .price-item .features {
  margin-bottom: 32px;
}

.landing .price-item li.checked,
.landing .price-item li.unchecked {
  padding: 16px 0 16px 24px;
  position: relative;
}

.landing .price-item li.checked:after,
.landing .price-item li.unchecked:after {
  content: "";
  width: 16px;
  height: 16px;
  position: absolute;
  left: 0;
  top: 19px;
}

.landing .price-item li.checked:after {
  content: "";
  background: url(../img/price_check.svg) no-repeat center center;
}

.landing .price-item li.unchecked:after {
  content: "";
  background: url(../img/price_cansel-1.svg) no-repeat center center;
}

.landing .special-block {
  background: linear-gradient(180deg, rgba(239, 249, 254, 0.6) 0%, rgba(226, 246, 255, 0.6) 100%);
  display: flex;
  padding: 32px;
  border-radius: 8px;
  text-align: center;
  align-items: center;
  flex-direction: column;
  margin-top: 40px;
  width: 100%;
}

.landing .special-block p {
  font-size: 20px;
}

.landing .special-block .tel {
  color: #5685FF;
  margin: 0 24px 0 16px;
}

.landing .contact {
  position: relative;
  display: flex;
  padding: 60px;
  width: 100%;
  min-height: 400px;
}

.landing .contact .block-contact {
  filter: grayscale(0%);
  position: absolute;
  width: 320px;
  top: 50px;
  left: 10%;
  background: #fff;
  border-radius: 4px;
  padding: 25px;
  z-index: 9;
  box-shadow: 5px 5px 26px 0 rgba(0, 0, 0, 0.15);
}

.landing .map {
  position: absolute;
  width: 100%;
  min-height: 400px;
  top: 0;
  left: 0;
  background:url(../img/map-place.png) center center no-repeat;
}


[class*="ymaps-2"][class*="-ground-pane"] {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.landing .responsive-img {
  width: 100%;
  height: auto;
}




.float-block {
  position: fixed;
  display: flex;
  bottom: 24px;
  right: 24px;
  z-index: 9;
}

.landing .tel-contact {
  color: #4D4E5B;
  margin-top: 12px;
}

.landing .tel-contact:hover {
  text-decoration: none !important;
  cursor: default;
}

.landing .block-contact a:hover {
  text-decoration: underline;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(44, 204, 116, 0.4);
  }

  70% {
    box-shadow: 0 0 0 10px rgba(44, 204, 97, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(44, 204, 79, 0);
  }
}

.landing input[type=text],
.landing input[type=tel],
.landing input[type=email],
.landing input[type=password],
.landing select,
.landing textarea,
.login-form-container input[type=text],
.login-form-container input[type=tel],
.login-form-container input[type=email],
.login-form-container input[type=password],
.login-form-container select,
.login-form-container textarea {
  background: #ffffff;
  border: 1px solid #DBDBDB;
  font-family: Averta CY;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  padding: 16px;
  display: block;
  border-radius: 3px;
}

.landing ::placeholder,
.login-form-container ::placeholder {
  color: #A3A3A3;
  font-family: "Gilroy";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}

.landing .input-group,
.login-form-container .input-group {
  display: flex;
  flex-direction: row;
}

.landing .input-group .form-control,
.login-form-container .input-group .form-control {
  font-family: Gilroy;
  flex: auto;
  width: auto;
  display: inline-flex;
}

.landing button,
.login-form-container button {
  border: 0;
  padding: 16px;
  font-family: "Gilroy";
  font-size: 15px;
  cursor: pointer;
}

.landing .form-control.error,
.login-form-container .form-control.error {
  border: 1px solid #ff0000;
  color: #ff0000;
  background: rgba(255, 0, 0, 0.075);
}

.landing .form-control.error ::placeholder,
.login-form-container .form-control.error ::placeholder {
  color: #ff0000;
}

.landing .form-control.success,
.login-form-container .form-control.success {
  border: 1px solid #0A815B !important;
  color: #0A815B;
  background: rgba(0, 255, 170, 0.075);
}

.landing .form-control.success ::placeholder,
.login-form-container .form-control.success ::placeholder {
  color: 0A815B;
}

.btn {
  display: inline-flex;
  border-radius: 3px;
  background-color: #51B696;
  color: #ffffff;
  text-align: center;
  justify-content: center;
  font-weight: 500;
}

.btn:hover {
  background-color: #1a7a5c;
}

.btn.outline {
  background: #ffffff;
  color: #51B696;
  border: 1px solid #51B696;
  opacity: 0.85;
}

.btn.outline:hover {
  opacity: 1;
  background: #e1ffee;
}

.btn.blue {
  background: #5685FF;
  opacity: 0.85;
}

.btn.blue:hover {
  opacity: 1;
}

.btn.outline-blue {
  background: #ffffff;
  color: #5685FF;
  border: 1px solid #5685FF;
  opacity: 0.85;
  margin-top: 16px;
}

.btn.outline-blue:hover {
  opacity: 1;
  background: #e1f5ff;
}

a.btn {
  color: #ffffff;
}

.btn.small {
  padding: 10px 12px;
}

.btn.md {
  padding: 16px 18px;
}

.btn:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}


@media screen and (max-width: 1000px) {

  .landing header .login-block ul li {
    padding: 0 2px;
  }

  .landing header .login-block ul li a {
    font-size: 13px;
  }

  .landing .contact .block-contact {
    filter: grayscale(0%);
    position: absolute;
    width: 280px;
    top: 50px;
    left: 10%;
    background: #fff;
    border-radius: 4px;
    padding: 25px;
    z-index: 9;
    box-shadow: 5px 5px 26px 0 rgb(0 0 0 / 15%);
  }

  .landing header nav {
    display: none;
  }

  .landing header .container {
    display: flex;
    justify-content: space-between;
    padding: 0;
  }

  .landing .section-1 .container {
    flex-direction: column;
  }

  .landing .section-1 .container .col-50 {
    width: 100%;
  }

  .landing .section-1 .container .col-50.form-text {
    padding-right: 16px;
  }

  .landing .section-2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 60px 0;
  }

  .landing .section-2 .bg-blue {
    background: linear-gradient(180deg, #EFF9FE 0%, #E2F6FF 100%);
    padding: 40px 16px;
    border-radius: 0;
    display: flex;
    flex-direction: column;
  }

  .landing .section-2 .bg-blue .item-block {
    flex: 1;
    display: flex;
    margin: 32px 0;
  }

  .landing .section-2 .bg-blue .item-block .text-block {
    padding-left: 8px;
  }

  .landing .section-3,
  .landing .section-4 {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 60px 0;
  }

  .landing .section-3 .container,
  .landing .section-4 .container {
    display: flex;
    flex-direction: column;
  }

  .landing .section-3 .container .col,
  .landing .section-4 .container .col {
    flex: 1;
  }

  .landing .section-3 .container .col.title,
  .landing .section-4 .container .col.title {
    padding-right: 0;
    flex: flex;
  }

  .landing .section-3 .container .col.list-container,
  .landing .section-4 .container .col.list-container {
    display: flex;
    flex-direction: row;
  }

  .landing .section-3 .container .col .item-list,
  .landing .section-4 .container .col .item-list {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 0 16px;
  }

  .landing .section-3 .container .col .item-list .title,
  .landing .section-4 .container .col .item-list .title {
    font-family: Gilroy;
    font-size: 24px;
    font-style: normal;
    font-weight: bold;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: #303E60;
    margin-bottom: 8px;
  }

  .landing .section-3 .container .col .item-list .img,
  .landing .section-4 .container .col .item-list .img {
    width: 70px;
    flex: none;
    margin-right: 24px;
    text-align: right;
    justify-content: flex-end;
  }

  .landing .section-4 .container .col .item-list .img {
    width: 70px;
    flex: none;
    margin-right: 24px;
    text-align: left;
    justify-content: flex-start;
  }

  .landing .section-5 .container {
    flex-direction: column;
  }

  .landing .section-5 .container .col-50 {
    padding: 0;
  }

  .landing .section-5 .container.auto.mb-6.mt-6 .form-text {
    order: 0;
  }

  .landing .section-5 .container.auto.mb-6.mt-6 .start-video {
    order: 1;
  }

  .landing .section-5 .container .container_video:after {
    display: none;
  }

  .landing .section-6 {
    background: #F5F9FC url(../img/pattern.svg) center center no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 60px 0;
    padding: 80px 0;
  }

  .landing .section-6 .container.auto .col.auto {
    flex: 1;
  }

  .landing .section-6 .container.auto .col.auto form input,
  .landing .section-6 .container.auto .col.auto form button {
    width: 100%;
    display: flex;
  }

  .landing .section-6 .container.auto .send-form {
    width: 100%;
  }

  .landing .section-6 .billy {
    position: relative;
    display: none;
  }

  .landing .section-6 .billy .billy-seet {
    position: absolute;
    right: 0;
    bottom: -84px;
  }

  .landing .section-6 .billy .dashboard {
    padding-left: 40px;
  }

  .landing .section-7 {
    overflow: hidden;
  }

  .landing .section-7 .container {
    flex-direction: column;
  }

  .landing .section-7 .container .title {
    padding-right: 0px;
    flex-grow: 1;
    width: 100%;
  }

  .landing .section-7 .container .price-container {
    padding-left: 0px;
    display: flex;
    flex-direction: column;
    flex-grow: 3;
    width: 100%;
  }

  footer {
    background: #F5F9FC;
    display: flex;
    flex-direction: column;
    padding: 60px 0 20px;
  }

  footer .container {
    flex-direction: column;
    justify-content: space-between;
  }

  footer .container.block-footer-nav {
    border-bottom: 1px solid #95B4CC;
  }

  footer .container .col.auto {
    display: flex;
    flex-basis: 1;
    flex-direction: column;
    margin-bottom: 32px;
  }

  footer .container .col.auto a {
    color: #3B5266;
    font-size: 16px;
    padding: 6px 12px 6px 0;
    display: block;
    font-weight: 400;
  }

  footer .container .col.auto a:hover {
    text-decoration: underline;
    color: #5685FF;
  }

  footer .container .col.auto .title-footer-menu {
    display: block;
    font-size: 20px;
    color: #303E60;
    margin-bottom: 24px;
    font-weight: bold;
  }

  footer .copy-block {
    padding: 16px 0;
    justify-content: space-between;
  }

  footer .copy-block .copyright {
    align-items: center;
    padding-left: 16px;
    display: flex;
  }

  footer .copy-block .social {
    align-items: center;
    flex-direction: row;
    line-height: 2;
    display: flex;
    padding-right: 16px;
  }

  footer .copy-block .social a {
    display: inline-flex;
    margin-left: 0px;
    align-items: center;
    margin-left: 4px;
  }

  footer .copy-block .social a:hover {
    mix-blend-mode: darken;
  }
}

@media (max-width: 425px) {

  .landing .section-3 .container .col.list-container,
  .landing .section-4 .container .col.list-container {
    display: flex;
    flex-direction: column;
  }

  .landing .section-4 .container .col .item-list {
    flex-direction: row;
    display: flex;
  }

  .landing .section-4 .container .col .item-list .img {
    width: 40px;
    flex: none;
    margin-right: 0px;
    text-align: left;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
    padding-top: 6px;
  }

  .landing .section-4 .container .col .item-list .img img {
    width: 24px;
    height: auto;
  }

  .landing .special-block .tel {
    color: #5685FF;
    margin: 0 24px 0 16px;
    display: block;
  }

  footer .container.block-footer-nav {
    flex-direction: column;
  }
}

.plyr__control--overlaid {
  width: 60px !important;
  height: 60px;
  background: #51B696 !important;
  border: 0;
  animation: pulse 2s infinite;
}

.plyr--video .plyr__control.plyr__tab-focus,
.plyr--video .plyr__control:hover,
.plyr--video .plyr__control[aria-expanded=true] {
  background: #51B696 !important;
  color: #fff;
}

.plyr__control--overlaid svg {
  left: 8px;
  position: relative;
}

.accordion-wrapper {
  margin: 0 auto;
  padding: 0;
  position: relative;
}

.accordion-wrapper .accordion-panel {
  margin: 4px auto;
  padding: 20px;
  position: relative;
  border-radius: 8px;
  border-bottom: 1px rgba(239, 239, 239, 0) solid;
}

.accordion-wrapper .accordion-panel .accordion-title {
  /*  margin: 0 0 10px;*/
  padding: 0 0 4px;
}

.accordion-wrapper .accordion-panel .accordion-title a:active,
.accordion-wrapper .accordion-panel .accordion-title a:link,
.accordion-wrapper .accordion-panel .accordion-title a:visited {
  display: block;
  font-size: 18px;
  line-height: 20px;
  text-decoration: none;
  font-weight: 600;
  color: #060505;
  transition: color 0.8s;
}

.accordion-wrapper .accordion-panel .accordion-title a:active:after,
.accordion-wrapper .accordion-panel .accordion-title a:link:after,
.accordion-wrapper .accordion-panel .accordion-title a:visited:after {
  content: "";
  position: absolute;
  top: 24px;
  right: 16px;
  width: 10px;
  height: 10px;
  background: url(../img/arrow-down.svg) center center no-repeat;
  font-size: 20px;
  line-height: 20px;
  transition: all 0.5s;
}

.accordion-wrapper .accordion-panel .accordion-title a:hover:after,
.accordion-wrapper .accordion-panel .accordion-title a:hover:visited:after {
  transform: rotate(180deg);
}

@media screen and (max-width: 767px) {
  .accordion-wrapper .accordion-panel .accordion-title {
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 10px;
  }
}

@media screen and (max-width: 400px) {
  .accordion-wrapper .accordion-panel .accordion-title {
    font-size: 14px;
    line-height: 18px;
    padding-bottom: 6px;
  }
}

.accordion-wrapper .accordion-panel .accordion-content {
  margin: 0;
  padding: 0;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 0.4s;
}

.accordion-wrapper .accordion-panel.is-active .accordion-title a:active:after,
.accordion-wrapper .accordion-panel.is-active .accordion-title a:hover:after,
.accordion-wrapper .accordion-panel.is-active .accordion-title a:hover:visited:after,
.accordion-wrapper .accordion-panel.is-active .accordion-title a:link:after,
.accordion-wrapper .accordion-panel.is-active .accordion-title a:visited:after {
  transform: rotate(180deg);
  color: #060505;
}

.accordion-wrapper .accordion-panel.is-active .accordion-content {
  padding: 16px 0;
  margin: 0;
  max-height: 400px;
  opacity: 1;
  transition: all 1s;
  line-height: 150%;
}

.accordion-wrapper .accordion-panel.is-active .accordion-content a {
  color: #5685FF;
  text-decoration: underline;
}

.accordion-wrapper .accordion-panel.is-active .accordion-content a:hover {
  text-decoration: none;
}

.accordion-wrapper .accordion-panel.is-active {
  background: #F5F9FC;
  border-bottom: 1px rgba(239, 239, 239, 0) solid;
}

.accordion-wrapper .accordion-panel.is-active .accordion-title a {
  color: #3054AB;
}

/* ----------------------- */
.roll-network {
  position: fixed;
  right: 15px;
  bottom: 15px;
  z-index: 9999;
}

.roll-network .block-roll {
  position: relative;
}

.roll-network .block-roll.open-is .block-roll-network {
  overflow: visible;
  height: 300px;
  transition: all 0.3s ease-in-out;
  opacity: 1;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 10px 0;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1) !important;
  z-index: 3;
}

.roll-network .block-roll .ico-roll-network::after {
  content: "";
  background-image: url(../img/network/mess-01.svg);
  width: 32px;
  height: 32px;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -16px;
  margin-left: -16px;
}

.roll-network .block-roll.open-is .ico-roll-network::after {
  content: "+";
  background-image: none;
  text-align: center;
  font-size: 42px;
  font-weight: 100;
  transform: rotate(45deg);
  color: #fff;
  line-height: 32px;
}

.roll-network .block-roll .block-roll-network {
  height: 0px;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  right: 0;
  width: 215px;
  bottom: 80px;
}

.roll-network .block-roll.open-is .block-roll-network::after {
  content: "" !important;
  position: absolute !important;
  width: 0 !important;
  height: 0 !important;
  bottom: -12px !important;
  border-left: 12px solid transparent !important;
  border-right: 12px solid transparent !important;
  border-top-width: 12px;
  border-top-style: solid !important;
  z-index: 0 !important;
  border-color: #fff;
  right: 16px;
}

.roll-network .block-roll.open-is .message-list {
  display: none;
}

.roll-network .block-roll .ico-roll-network {
  background-color: #688BE1;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1) !important;
}

.roll-network .block-roll .block-roll-network {
  position: absolute;
  bottom: 80px;
}

.roll-network .block-roll .block-roll-network .item {
  position: relative;
  padding: 5px 10px;
}

.roll-network .block-roll .block-roll-network .item:hover {
  background-color: #f1f2f7;
}

.roll-network .block-roll .block-roll-network a {
  position: relative;
  cursor: pointer;
  display: block;
  transition: all 0.3s ease-in-out;
  padding-left: 40px;
  height: 30px;
  line-height: 32px;
  text-decoration: none;
  font-size: 14px;
  color: #425660;
}

.roll-network .block-roll .block-roll-network a:hover {
  opacity: 0.6;
  transition: all 0.3s ease-in-out;
}

.roll-network .block-roll .block-roll-network a.chat-teleg-icon::after {
  content: "";
  background-image: url(../img/network/teleg.svg);
  background-color: #27A3E3;
  background-size: 16px 16px;
  background-position: 45% 50%;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  display: block;
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 0;
  margin-top: -15px;
}

.roll-network .block-roll .block-roll-network a.chat-viber-icon::after {
  content: "";
  background-image: url(../img/network/viber.svg);
  background-color: #8B66A9;
  background-size: 20px 20px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  display: block;
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 0;
  margin-top: -15px;
}

.roll-network .block-roll .block-roll-network a.chat-phone-icon::after {
  content: "";
  background-image: url(../img/network/phone.svg);
  background-color: #364952;
  background-size: 16px 16px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  display: block;
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 0;
  margin-top: -15px;
}

.roll-network .block-roll .block-roll-network a.chat-whats-icon::after {
  content: "";
  background-image: url(../img/network/whatsapp.svg);
  background-color: #25CC62;
  background-size: 16px 16px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  display: block;
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 0;
  margin-top: -15px;
}

.roll-network .block-roll .block-roll-network a.chat-vk-icon::after {
  content: "";
  background-image: url(../img/network/vk.svg);
  background-color: #4E7DB2;
  background-size: 16px 16px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  display: block;
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 0;
  margin-top: -15px;
}

.roll-network .block-roll .block-roll-network a.chat-fb-icon::after {
  content: "";
  background-image: url(../img/network/fb.svg);
  background-color: #4867AA;
  background-size: 16px 16px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  display: block;
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 0;
  margin-top: -15px;
}

.roll-network .block-roll .block-roll-network a.chat-chat-icon::after {
  content: "";
  background-image: url(../img/network/chat.svg);
  background-color: #800c7a;
  background-size: 16px 16px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  display: block;
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 0;
  margin-top: -15px;
}

.roll-network .message-list {
  position: absolute;
  bottom: 80px;
  right: 0px;
  width: 130px;
  transition: all 0.3s ease-in-out;
  opacity: 1;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1) !important;
  text-decoration: none;
  font-size: 14px;
  color: #425660;
  text-align: center;
  z-index: 1;
  transition: all 0.3s ease-in-out;
}

.roll-network .message-list:hover {
  color: #6695E2;
  transition: all 0.3s ease-in-out;
}

.roll-network .message-list::after {
  content: "" !important;
  position: absolute !important;
  width: 0 !important;
  height: 0 !important;
  bottom: -12px !important;
  border-left: 12px solid transparent !important;
  border-right: 12px solid transparent !important;
  border-top-width: 12px;
  border-top-style: solid !important;
  z-index: 0 !important;
  border-color: #fff;
  right: 16px;
}

/* --- Adaptive --- */
@media (max-width: 800px) {
  .roll-network .message-list {
    display: none;
  }
}

html,
body {
  min-height: 100vh;
  height: auto;
  font-size: 16px;
  font-family: "Gilroy", sans-serif;
  font-weight: normal;
  line-height: 140%;
}

.container {
  display: flex;
  margin: 0 auto;
  max-width: 1400px;
  width: 100%;
  padding: 0 16px;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

.d-flex {
  display: flex;
}

.t-center {
  text-align: center;
}

.form-control {
  display: flex;
  width: 100%;
}

.w-100 {
  width: 100%;
}

h1,
h2 {
  font-family: Gilroy;
  font-size: 32px;
  font-style: normal;
  font-weight: bold;
  line-height: 37px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 16px;
  color: #303E60;
}

p {
  font-size: 16px;
  color: #4D4E5B;
  line-height: 140%;
}

.error {
  color: #ff0000 !important;
}

.mt-1 {
  margin-top: 10px;
}

.mt-2 {
  margin-top: 20px;
}

.mt-3 {
  margin-top: 30px;
}

.mt-4 {
  margin-top: 40px;
}

.mt-6 {
  margin-top: 60px;
}

.mb-1 {
  margin-bottom: 10px;
}

.mb-2 {
  margin-bottom: 20px;
}

.mb-3 {
  margin-bottom: 30px;
}

.mb-4 {
  margin-bottom: 40px;
}

.mb-6 {
  margin-bottom: 60px;
}

.j-center {
  justify-content: center;
}

video {
  width: 100%;
  height: auto;
}

.container_video {
  box-shadow: 0px 20px 16px -10px rgba(44, 204, 116, 0.23);
}

.control {
  font-size: 14px;
  position: relative;
  display: block;
  margin-bottom: 15px;
  padding-left: 30px;
  cursor: pointer;
}

.control a {
  color: #5685FF !important;
  text-decoration: none !important;
}

.success {
  color: #51B696;
}

.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.control__indicator {
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  background: #e6e6e6;
}

.control--radio .control__indicator {
  border-radius: 50%;
}

/* Hover and focus states */
.control:hover input~.control__indicator,
.control input:focus~.control__indicator {
  background: #ccc;
}

/* Checked state */
.control input:checked~.control__indicator {
  background: #5685FF;
}

/* Hover state whilst checked */
.control:hover input:not([disabled]):checked~.control__indicator,
.control input:checked:focus~.control__indicator {
  background: #5685FF;
}

/* Disabled state */
.control input:disabled~.control__indicator {
  pointer-events: none;
  opacity: 0.6;
  background: #e6e6e6;
}

/* Check mark */
.control__indicator:after {
  position: absolute;
  display: none;
  content: "";
}

/* Show check mark */
.control input:checked~.control__indicator:after {
  display: block;
}

/* Checkbox tick */
.control--checkbox .control__indicator:after {
  top: 4px;
  left: 8px;
  width: 3px;
  height: 8px;
  transform: rotate(45deg);
  border: solid #fff;
  border-width: 0 2px 2px 0;
}

/* Disabled tick colour */
.control--checkbox input:disabled~.control__indicator:after {
  border-color: #7b7b7b;
}

/* Radio button inner circle */
.control--radio .control__indicator:after {
  top: 7px;
  left: 7px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #fff;
}

/* Disabled circle colour */
.control--radio input:disabled~.control__indicator:after {
  background: #7b7b7b;
}

/******* TOOLTIP *******/
.tooltip {
  display: inline-flex;
  position: relative;
  z-index: 99;
}

.tooltip-trigger {
  display: inline-block;
  z-index: 99;
}

.tooltip-content {
  font-size: 14px;
  max-width: 320px;
  min-width: 250px;
  position: absolute;
  display: none;
  padding: 10px 0 0;
  left: 50%;
  top: 16px;
  opacity: 1;
  transform: translate(-50%, 0);
  transition: 200ms 100ms opacity, 300ms 100ms transform;
  z-index: 99;
}

.tooltip-content__body {
  display: block;
  background: #fff;
  color: #000;
  font-weight: 400;
  max-width: 320px;
  line-height: normal;
  border-radius: 3px;
  padding: 10px;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.15);
}

.tooltip:hover .tooltip-content {
  display: block;
}

.tooltip-content a {
  color: #666;
  font-weight: 300;
}

.icon-tooltip {
  justify-content: center;
  color: #fff;
  display: flex;
  background: #d7e2ec;
  height: 16px;
  width: 16px;
  font-size: 12px !important;
  align-items: center;
  border-radius: 16px;
}

.tooltip-content__arrow-up {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #fff;
  position: absolute;
  top: 5px;
  left: calc(50% - 5px);
}

.hidden {
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px);
  z-index: -1;
}

footer {
  background: #F5F9FC;
  display: flex;
  flex-direction: column;
  padding: 60px 0 20px;
}

footer .container {
  flex-direction: row;
  justify-content: space-between;
}

footer .container.block-footer-nav {
  border-bottom: 1px solid #95B4CC;
}

footer .container .col.auto {
  display: flex;
  flex-basis: 1;
  flex-direction: column;
  margin-bottom: 32px;
}

footer .container .col.auto a {
  color: #3B5266;
  font-size: 16px;
  padding: 6px 12px 6px 0;
  display: block;
  font-weight: 400;
}

footer .container .col.auto a:hover {
  text-decoration: underline;
  color: #5685FF;
}

footer .container .col.auto .title-footer-menu {
  display: block;
  font-size: 20px;
  color: #303E60;
  margin-bottom: 24px;
  font-weight: bold;
}

footer .copy-block {
  padding: 16px 0;
  justify-content: space-between;
}

footer .copy-block .copyright {
  align-items: center;
  padding-left: 16px;
  display: flex;
}

footer .copy-block .social {
  align-items: center;
  flex-direction: row;
  line-height: 2;
  display: flex;
  padding-right: 16px;
}

footer .copy-block .social a {
  display: inline-flex;
  margin-left: 0px;
  align-items: center;
  margin-left: 4px;
}

footer .copy-block .social a:hover {
  opacity: 0.75;
}

.banner-w100.showbanner {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  text-align: center;
  align-items: center;
  justify-content: center;
  position: relative;
}

#close-banner {
  position: absolute;
  right: 36px;
  top: 10px;
  width: 26px;
  height: 26px;
  z-index: 99;
  display: block;
}

.banner-w100 {
  display: none;
}

@media screen and (max-width: 960px) {
  .banner-w100.showbanner {
    display: none;
  }

  .landing header .container {
    display: flex;
    justify-content: space-between;
    padding: 8px 16px;
  }

}


/*# sourceMappingURL=style.css.map */