@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 100;
    src: url(../fonts/roboto-v20-latin_cyrillic-100.eot);
    src: local('Roboto Thin'), local('Roboto-Thin'), url(../fonts/roboto-v20-latin_cyrillic-100.eot?#iefix) format('embedded-opentype'), url(../fonts/roboto-v20-latin_cyrillic-100.woff2) format('woff2'), url(../fonts/roboto-v20-latin_cyrillic-100.woff) format('woff'), url(../fonts/roboto-v20-latin_cyrillic-100.ttf) format('truetype'), url(../fonts/roboto-v20-latin_cyrillic-100.svg#Roboto) format('svg');
    font-display: swap
}

@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    src: url(../fonts/roboto-v20-latin_cyrillic-300.eot);
    src: local('Roboto Light'), local('Roboto-Light'), url(../fonts/roboto-v20-latin_cyrillic-300.eot?#iefix) format('embedded-opentype'), url(../fonts/roboto-v20-latin_cyrillic-300.woff2) format('woff2'), url(../fonts/roboto-v20-latin_cyrillic-300.woff) format('woff'), url(../fonts/roboto-v20-latin_cyrillic-300.ttf) format('truetype'), url(../fonts/roboto-v20-latin_cyrillic-300.svg#Roboto) format('svg');
    font-display: swap
}

@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/roboto-v20-latin_cyrillic-regular.eot);
    src: local('Roboto'), local('Roboto-Regular'), url(../fonts/roboto-v20-latin_cyrillic-regular.eot?#iefix) format('embedded-opentype'), url(../fonts/roboto-v20-latin_cyrillic-regular.woff2) format('woff2'), url(../fonts/roboto-v20-latin_cyrillic-regular.woff) format('woff'), url(../fonts/roboto-v20-latin_cyrillic-regular.ttf) format('truetype'), url(../fonts/roboto-v20-latin_cyrillic-regular.svg#Roboto) format('svg');
    font-display: swap
}

@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    src: url(../fonts/roboto-v20-latin_cyrillic-500.eot);
    src: local('Roboto Medium'), local('Roboto-Medium'), url(../fonts/roboto-v20-latin_cyrillic-500.eot?#iefix) format('embedded-opentype'), url(../fonts/roboto-v20-latin_cyrillic-500.woff2) format('woff2'), url(../fonts/roboto-v20-latin_cyrillic-500.woff) format('woff'), url(../fonts/roboto-v20-latin_cyrillic-500.ttf) format('truetype'), url(../fonts/roboto-v20-latin_cyrillic-500.svg#Roboto) format('svg');
    font-display: swap
}

@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/roboto-v20-latin_cyrillic-700.eot);
    src: local('Roboto Bold'), local('Roboto-Bold'), url(../fonts/roboto-v20-latin_cyrillic-700.eot?#iefix) format('embedded-opentype'), url(../fonts/roboto-v20-latin_cyrillic-700.woff2) format('woff2'), url(../fonts/roboto-v20-latin_cyrillic-700.woff) format('woff'), url(../fonts/roboto-v20-latin_cyrillic-700.ttf) format('truetype'), url(../fonts/roboto-v20-latin_cyrillic-700.svg#Roboto) format('svg');
    font-display: swap
}

*,
::after,
::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

* {
    border: none;
    margin: 0;
    padding: 0;
    outline: 0;
    -webkit-tap-highlight-color: transparent
}

html {
    -webkit-text-size-adjust: 100%
}

body {
    counter-reset: section;
    font-size: 14px;
    font-family: Roboto, sans-serif;
    background: #fff
}

article,
aside,
footer,
header,
hgroup,
main,
nav,
picture,
section {
    display: block
}

.center {
    text-align: center
}

.col-row {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px
}

.col-12,
.col-3,
.col-6 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px
}

.col-3 {
    -ms-flex: 0 0 33.333%;
    -webkit-box-flex: 0;
    flex: 0 0 33.333%;
    max-width: 33.333%
}

.col-6 {
    -ms-flex: 0 0 50%;
    -webkit-box-flex: 0;
    flex: 0 0 50%;
    max-width: 50%
}

.col-12 {
    -ms-flex: 0 0 100%;
    -webkit-box-flex: 0;
    flex: 0 0 100%;
    max-width: 100%
}

.clear {
    clear: both
}

.wrapper {
    width: 1200px;
    margin: 0 auto
}

.click-project::after,
.col-row::after,
.how-calls-screen .ul-list ul::after,
.row::after,
section.clique-screen .clique:after {
    content: "";
    display: block;
    clear: both
}

.row {
    position: relative
}

h1 {
    font-size: 48px;
    line-height: 52px;
    font-weight: 100
}

h3 {
    font-size: 24px;
    line-height: 26px;
    font-weight: 100
}

h2 {
    font-size: 48px;
    line-height: 50px;
    font-weight: 300
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 0;
    background: #fff;
    z-index: 100
}

header .wrapper {
    width: 100%;
    padding: 0 15px
}

header .logo {
    float: left;
    padding-right: 20px;
    border-right: 1px solid #ccc
}

header .project-title {
    float: left;
    position: relative
}

.ico-down-arr {
    margin-left: 10px
}

.menu-head {
    float: left
}

.menu-head ul li {
    border-left: 1px solid #ccc;
    list-style: none;
    float: left
}

.menu-head ul li a {
    opacity: 1;
    display: block;
    font-size: 18px;
    padding: 13px 20px;
    font-weight: 300;
    color: #455a64;
    text-decoration: none;
    -webkit-transition: opacity .3s ease-out .1s;
    transition: opacity .3s ease-out .1s
}

.menu-head ul li a:hover {
    opacity: .6;
    -webkit-transition: opacity .3s ease-out .1s;
    transition: opacity .3s ease-out .1s
}

.ico-down-arr:after {
    content: '';
    background: url(../img/arr-ico-tow.svg) no-repeat;
    display: inline-block;
    width: 14px;
    height: 8px;
    -webkit-transition: .4s ease-in-out;
    transition: .4s ease-in-out;
    position: relative;
    top: -2px
}

.project-title.is-open .ico-down-arr:after {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transition: .4s ease-in-out;
    transition: .4s ease-in-out
}

.project-bar {
    height: 0;
    opacity: 0;
    background: #273238;
    position: absolute;
    top: 100%;
    left: 0;
    width: 400px;
    margin-top: 10px;
    -webkit-transition: height .4s ease-out .1s, opacity .2s ease-out .1s;
    transition: height .4s ease-out .1s, opacity .2s ease-out .1s;
    z-index: 99
}

.project-bar::before {
    position: absolute;
    top: -19px;
    left: 25px;
    content: '';
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-bottom: 10px solid #273238;
    display: block
}

.project-bar ul {
    list-style: none;
    height: 0;
    text-align: left;
    overflow: hidden
}

.project-bar ul li.active {
    background: #1c2529
}

.project-bar ul li a {
    position: relative;
    display: block;
    padding: 15px 15px;
    text-decoration: none
}

.project-bar ul li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 15px;
    display: block;
    width: calc(100% - 30px);
    margin: 0 auto;
    border-bottom: 1px solid #364952
}

.project-bar ul li:last-child a::after {
    border: none
}

.project-bar ul li a:hover span,
.project-bar ul li.active span {
    opacity: .4
}

.project-bar ul li a img {
    display: inline-block;
    height: 16px;
    margin-right: 10px
}

.project-bar ul li a span {
    display: inline-block;
    float: none;
    color: #fff
}

.project-title.is-open .project-bar {
    height: 260px;
    -webkit-transition: height .2s ease-out .1s, opacity .4s ease-out .1s;
    transition: height .2s ease-out .1s, opacity .4s ease-out .1s;
    opacity: 1
}

.project-title.is-open .project-bar ul {
    height: 260px
}

header .project-title .click-project {
    cursor: pointer;
    padding: 13px 20px;
    -webkit-transition: opacity .3s ease-out .1s;
    transition: opacity .3s ease-out .1s
}

header .project-title .click-project:hover {
    opacity: .6;
    -webkit-transition: opacity .3s ease-out .1s;
    transition: opacity .3s ease-out .1s
}

header .project-title span {
    float: left;
    font-size: 18px;
    font-weight: 300;
    color: #455a64
}

header .logo a {
    display: block;
    background-image: url(../img/logo.svg);
    height: 50px;
    width: 141px
}

header .menu-burger {
    display: none;
    float: right;
    cursor: pointer;
    padding: 13px 0;
    height: 23.25px;
    width: 27px;
    margin-left: 20px;
}

header .menu-burger::after {
    content: "";
    background-image: url(../img/ico-menu.svg);
    display: block;
    height: 23.25px;
    width: 27px
}

.nav-menu.active {
    right: 0;
    -webkit-transition: .2s;
    transition: .2s;
    z-index: 20;
    -webkit-transition: all .8s ease-in-out;
    -moz-transition: all .8s ease-in-out;
    -o-transition: all .8s ease-in-out;
    transition: all .8s ease-in-out
}

.nav-menu {
    position: fixed;
    background: #364952;
    height: 100%;
    width: 50%;
    z-index: 20;
    right: -4500px;
    top: 0;
    -webkit-transition: all .8s ease-in-out;
    -moz-transition: all .8s ease-in-out;
    -o-transition: all .8s ease-in-out;
    transition: all .8s ease-in-out;
    -webkit-box-shadow: 0px 0px 90px 20px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 90px 20px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 90px 20px rgba(0, 0, 0, 0.75);
}

.nav-menu .close {
    position: absolute;
    right: 20px;
    top: 100px;
    z-index: 5;
    transform: rotate(45deg);
    cursor: pointer;
    text-decoration: none;
}

.nav-menu .close::after {
    content: "+";
    color: #ffffff;
    font-size: 60px;
    font-weight: 100;
    line-height: 0px;
    transform: rotate(90deg);
}

.nav-menu nav {
    padding-top: 70px;
}

.nav-menu nav ul {
    list-style: none;
    padding: 30px;
}

.nav-menu nav ul li a {
    color: #ffffff;
    font-size: 22px;
    padding-bottom: 15px;
    display: block;
    text-decoration: none;
    font-weight: 300;
}

header .login.btn {
    background: #6695e2;
    color: #fff;
    float: right;
    margin: 7px 0 7px 0;
    -webkit-transition: background-color .2s ease-in-out;
    transition: background-color .2s ease-in-out
}

header .login.btn:hover {
    background-color: #057baa;
    -webkit-transition: background-color .2s ease-in-out;
    transition: background-color .2s ease-in-out
}

.botfaq-dir .btn {
    background: #27c58b;
    color: #fff;
    -webkit-transition: background-color .2s ease-in-out;
    transition: background-color .2s ease-in-out
}

.botfaq-dir .btn:hover {
    background-color: #199f6e;
    -webkit-transition: background-color .2s ease-in-out;
    transition: background-color .2s ease-in-out
}

.btn {
    border-radius: 4px;
    padding: 10.5px 30px;
    text-transform: initial;
    font-size: 14px;
    border: none;
    font-family: Roboto, sans-serif;
    cursor: pointer;
    font-weight: 300;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -moz-user-select: none;
    -ms-user-select: none;
    line-height: 14px
}

.botfaq-dir .btn-blue {
    background: #6695e2;
    color: #fff;
    -webkit-transition: background-color .2s ease-in-out;
    transition: background-color .2s ease-in-out
}

.botfaq-dir .btn-blue:hover {
    background-color: #057baa;
    -webkit-transition: background-color .2s ease-in-out;
    transition: background-color .2s ease-in-out
}


.btn-blue {
    border-radius: 4px;
    padding: 10.5px 30px;
    text-transform: initial;
    font-size: 14px;
    border: none;
    font-family: Roboto, sans-serif;
    cursor: pointer;
    font-weight: 300;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -moz-user-select: none;
    -ms-user-select: none;
    line-height: 14px
}


.contact-head {
    float: right;
    margin: 6px 20px 6px 0
}

.contact-head a.mail {
    color: grey;
    font-size: 12px;
    display: block;
    text-align: left;
    font-weight: 300;
    text-decoration: none;
    margin-bottom: 2px
}

.contact-head a.phone {
    text-decoration: none;
    color: #364952;
    font-size: 18px;
    display: block;
    text-align: left;
    font-weight: 300
}

section.first-screen {
    background-image: url(../img/bg-header.png);
    background-position: 50% 50%;
    width: 100%;
    height: 595px;
    margin-top: 60px
}

section.first-screen .table {
    display: table;
    width: 100%
}

section.first-screen .tableCell {
    display: table-cell;
    height: 600px;
    text-align: left;
    vertical-align: middle
}

section.first-screen h1,
section.first-screen h3 {
    color: #fff;
    width: 45%
}

section.first-screen h1 {
    font-weight: 600
}

section.first-screen h3 {
    margin-top: 25px
}

section.first-screen .btn {
    margin: 25px 25px 0 0;
    font-size: 16px;
    padding: 18px 55px
}

section.clique-screen {
    margin: 80px 0 0 0
}

section.clique-screen h2 {
    text-align: center;
    color: #455a64;
    padding-bottom: 80px
}

section.clique-screen .col-6:first-child {
    padding-top: 25px
}

section.clique-screen .col-6:first-child::after {
    content: "";
    background-color: #f5f5f5;
    height: 100%;
    position: absolute;
    top: 0;
    left: -100%;
    width: calc(200% - 20px);
    z-index: -1
}

section.clique-screen .col-6 p:first-child {
    margin-top: 10px;
    margin-bottom: 20px
}

section.clique-screen .col-6 p {
    color: #455a64;
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 24px;
    font-weight: 300
}

section.clique-screen .clique {
    margin-bottom: 40px;
    color: #4d4d4d
}

section.clique-screen .clique-info {
    font-size: 16px;
    font-style: italic;
    color: #4d4d4d
}

section.clique-screen .clique:last-child {
    margin-bottom: 0
}

section.clique-screen .clique .ico {
    float: left;
    width: 79px;
    height: 79px
}

section.clique-screen .clique .num {
    float: left;
    width: calc(100% - 79px);
    padding-left: 35px
}

section.clique-screen .clique .ico img {
    width: 100%
}

section.clique-screen .clique .num span {
    display: block;
    font-size: 24px;
    text-transform: uppercase
}

section.clique-screen .clique .num div {
    display: block;
    font-size: 48px;
    line-height: 40px;
    font-weight: 700
}

section.clique-screen .clique .num sup {
    font-size: 20px;
    font-weight: 400;
    color: #27c58b
}

.who-calls-screen {
    margin: 80px 0 0 0
}

.who-calls-screen h2 {
    text-align: center;
    color: #455a64;
    position: relative;
    z-index: 5;
    padding-bottom: 120px
}

.who-calls-screen .bg-block {
    text-align: center;
    background: #364952;
    background: -moz-linear-gradient(90deg, rgba(54, 73, 82, 1) 0, rgba(69, 90, 100, 1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(54, 73, 82, 1) 0, rgba(69, 90, 100, 1) 100%);
    background: linear-gradient(90deg, rgba(54, 73, 82, 1) 0, rgba(69, 90, 100, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#364952", endColorstr="#455a64", GradientType=1)
}

.who-calls-screen .col-row {
    top: -70px;
    position: relative;
    z-index: 1
}

.who-calls-screen .ico {
    position: relative;
    width: 140px;
    height: 140px;
    margin: 0 auto 30px auto;
    background: #fff;
    border-radius: 50%
}

.who-calls-screen h3 {
    position: relative;
    font-size: 22px;
    color: #fff;
    font-weight: 700
}

.who-calls-screen h3::after {
    content: "";
    display: block;
    width: 90px;
    margin: 20px auto;
    border-bottom: 5px solid #27c58b
}

.who-calls-screen p {
    width: 300px;
    margin: 0 auto;
    font-size: 16px;
    line-height: 19px;
    font-weight: 300;
    color: #fff
}

.who-calls-screen .ico.ic-1::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    display: block;
    background-image: url(../img/ico-ic-1.svg);
    width: 71px;
    height: 71px;
    margin-top: -35px;
    margin-left: -35.5px
}

.who-calls-screen .ico.ic-2::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    display: block;
    background-image: url(../img/ico-ic-2.svg);
    width: 71px;
    height: 71px;
    margin-top: -35px;
    margin-left: -35.5px
}

.who-calls-screen .ico.ic-3::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    display: block;
    background-image: url(../img/ico-ic-3.svg);
    width: 71px;
    height: 71px;
    margin-top: -35px;
    margin-left: -35.5px
}

.project-screen {
    margin-bottom: 40px
}

.project-screen h2 {
    text-align: center;
    color: #455a64;
    padding: 80px 0;
    text-transform: inherit
}

.project-screen .log-ico {
    width: 120px;
    float: left
}

.project-screen .white .log-ico {
    margin-left: 60px
}

.project-screen .grey .log-ico {
    margin-right: 60px
}

.project-screen .content {
    width: calc(100% - 180px);
    float: left
}

.project-screen h3 {
    font-size: 36px;
    line-height: 40px;
    color: #2f383e;
    font-weight: 400;
    margin: 0 0 25px 0;
    width: 90%;
    -webkit-transition: opacity .3s ease-out .1s;
    transition: opacity .3s ease-out .1s
}

.project-screen h3:hover {
    -webkit-transition: opacity .3s ease-out .1s;
    transition: opacity .3s ease-out .1s;
    opacity: .4
}

.project-screen h3 a {
    color: #2f383e;
    text-decoration: none
}

.project-screen p {
    color: #2f383e;
    font-size: 16px;
    line-height: 22px;
    width: 100%
}

.project-screen p a {
    text-decoration: none;
    color: #6695e2;
    -webkit-transition: opacity .2s ease-in-out;
    transition: opacity .2s ease-in-out
}

.project-screen p a:hover {
    opacity: .6;
    -webkit-transition: opacity .2s ease-in-out;
    transition: opacity .2s ease-in-out
}

.grey {
    background-color: #f5f5f5
}

.white {
    background-color: #fff
}

.project-screen .white .col-row .col-6:first-child img {
    margin-top: -15px
}

.project-screen .col-row .col-6 img {
    width: 120px;
    position: relative;
    z-index: 5
}

.grey,
.white {
    padding: 60px 0;
    margin: 0 0
}

.project-screen .btn {
    font-size: 16px;
    background: #27c58b;
    color: #fff;
    font-weight: 300;
    padding: 17.5px 60px;
    margin-top: 25px;
    -webkit-transition: background-color .2s ease-in-out;
    transition: background-color .2s ease-in-out
}

.project-screen .btn.disabled,
.project-screen .btn.disabled:hover {
    background-color: #999;
    cursor: default
}

.project-screen .btn:hover {
    background-color: #199f6e;
    -webkit-transition: background-color .2s ease-in-out;
    transition: background-color .2s ease-in-out
}

.project-screen .btn.green {
    background: #34a853;
    color: #fff;
    -webkit-transition: background-color .2s ease-in-out;
    transition: background-color .2s ease-in-out
}

.project-screen .btn.green:hover {
    background: #33924c;
    color: #fff;
    -webkit-transition: background-color .2s ease-in-out;
    transition: background-color .2s ease-in-out
}

.partner {
    background-image: url(../img/bg-partner.png);
    text-align: center;
    height: 450px;
    background-position: 50% 50%;
    width: 100%
}

.partner .btn {
    font-size: 16px;
    display: inline-block;
    background: #27c58b;
    color: #fff;
    font-weight: 300;
    padding: 17.5px 60px;
    margin: 25px 0 20px 0;
    -webkit-transition: background-color .2s ease-in-out;
    transition: background-color .2s ease-in-out
}

.partner .btn:hover {
    background-color: #199f6e !important;
    color: #fff;
    -webkit-transition: background-color .2s ease-in-out;
    transition: background-color .2s ease-in-out
}

.partner .wrapper {
    height: 100%
}

section.partner .table {
    display: table;
    width: 100%;
    height: 100%
}

section.partner .tableCell {
    display: table-cell;
    height: 300px;
    vertical-align: middle
}

.partner h2 {
    color: #fff;
    margin-bottom: 20px
}

.partner p {
    color: #fff;
    font-weight: 300;
    line-height: 30px;
    font-size: 20px
}

.partner p a {
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: #fff
}

.partner p a::after {
    position: absolute;
    bottom: 4px;
    content: "";
    height: 1px;
    background-color: #fff;
    display: block;
    width: 100%
}

.partner p a:hover::after {
    display: none
}

.price .btn {
    font-size: 16px;
    display: inline-block;
    color: #fff;
    font-weight: 300;
    padding: 17.5px 40px;
    margin: 20px 0 20px 0;
    -webkit-transition: background-color .2s ease-in-out;
    transition: background-color .2s ease-in-out
}

.price .btn:hover {
    background-color: #199f6e !important;
    -webkit-transition: background-color .2s ease-in-out;
    transition: background-color .2s ease-in-out
}

.price {
    padding-bottom: 80px
}

.price h2 {
    text-align: center;
    color: #455a64;
    padding: 80px 0;
    text-transform: inherit
}

.price-items::after {
    content: "";
    clear: both;
    display: block
}

.table1p,
.table2p {
    border-right: 0
}

.table-tariffs-flex {
    display: flex;
}

.table-tariff.col-table-3 {
    float: left;
    width: 25%
}

.table-tariff {
    font-size: 16px;
    border-collapse: separate;
    border-spacing: 0;
    text-align: center;
    border: 1px solid #f5f5f5
}

.table1p tr:first-child th:first-child {
    font-size: 28px;
    font-weight: 400;
    color: #ccc;
    vertical-align: top
}

.table-tariff.col-table-3 tr:first-child th {
    height: 170px
}

.table-tariff.col-table-3 tr:first-child th {
    height: 170px
}

.table-tariff .title {
    color: #364952;
    font-size: 28px;
    font-weight: 400;
    border-bottom: 1px solid #f5f5f5;
    padding-bottom: 10px;
    margin-bottom: 10px
}

.table-tariff .units {
    font-weight: 400;
    color: #364952;
    border-bottom: 1px solid #f5f5f5;
    padding-bottom: 10px
}

.table-tariff thead tr:nth-child(2) th {
    color: #364952;
    font-size: 16px;
    background-color: #f5f5f5
}

.table-tariff.active {
    border-radius: 4px 4px 0 0;
    border: 1px solid #27c58b;
    z-index: 2;
}

table.table1p tr td:first-child,
table.table1p tr th:first-child {
    text-align: left
}

.table-tariff td,
.table-tariff th {
    padding: 10px 20px !important
}

.table-tariff tbody tr:nth-child(2n) td {
    background-color: #f5f5f5
}

.table-tariff.col-table-3 tr th,
.table-tariff.col-table-3 tr td {
    height: 62px
}

.proj-name {
    width: 100%
}

.proj-name a {
    color: #455a64;
}

.table-tariff .proj-name img {
    width: 30px;
    float: left
}

.table-tariff .proj-name span {
    color: #455a64;
    display: block;
    width: calc(100% - 50px);
    float: left;
    font-size: 16px;
    margin-left: 20px;
    margin-top: 4px
}

.proj-name del {
    font-weight: 300;
    color: #27c58b;
    font-style: italic;
    text-decoration: none;
    display: inline
}


.table2p,
.table3p {
    width: 25% !important;
    border-left: none
}

.table-tariff .price {
    padding: 10px 0 0;
    text-align: center;
    color: #27c58b;
    font-size: 28px;
    font-weight: 400
}

.table-tariff .price sup {
    font-size: 14px;
    font-weight: 400
}

.table-tariff.col-table-3 tr:last-child td {
    height: 165px;
    vertical-align: top
}

.foo-rt {
    font-size: 12px;
    margin-top: 10px;
    color: #aaa
}

.table-tariff p.foo {
    color: #aaa
}

.news {
    background-color: #f5f5f5;
    padding-bottom: 80px
}

.news h2 {
    color: #455a64;
    text-align: center;
    padding: 60px 0
}

.news .col-6 {
    padding-bottom: 60px
}

.news .col-6::after {
    content: "";
    clear: both;
    display: block
}

.news img {
    width: 30%;
    float: left
}

.news .newsBlock {
    padding-left: 25px;
    width: 70%;
    float: left
}

.news .newsBlock .date {
    font-size: 12px;
    color: grey
}

.news .newsBlock a {
    font-size: 24px;
    line-height: 26px;
    color: #455a64;
    font-weight: 300;
    text-decoration: none;
    margin: 5px 0 15px 0;
    display: block;
    -webkit-transition: opacity .3s ease-out .1s;
    transition: opacity .3s ease-out .1s
}

.news .newsBlock a:hover {
    opacity: .4;
    -webkit-transition: opacity .3s ease-out .1s;
    transition: opacity .3s ease-out .1s
}

.news .newsBlock p {
    font-size: 16px;
    color: #455a64
}

.news .btn {
    font-size: 16px;
    display: inline-block;
    color: #fff;
    font-weight: 300;
    padding: 17.5px 60px;
    -webkit-transition: background-color .2s ease-in-out;
    transition: background-color .2s ease-in-out;
    margin: 60px auto 0 auto
}

.news .btn:hover {
    background-color: #199f6e !important;
    -webkit-transition: background-color .2s ease-in-out;
    transition: background-color .2s ease-in-out
}

.news .col-6:nth-child(3),
.news .col-6:nth-child(4) {
    padding-bottom: 0
}

.news .btn.more {
    background: #6695e2;
    color: #fff;
    margin: 15px 0 0 0;
    -webkit-transition: background-color .2s ease-in-out;
    transition: background-color .2s ease-in-out;
    font-size: 14px;
    padding: 7.5px 20px;
    line-height: 14px;
    display: inline-block
}

.news .btn.more:hover {
    background-color: #057baa !important;
    -webkit-transition: background-color .2s ease-in-out;
    transition: background-color .2s ease-in-out;
    opacity: 1
}

.SourcesCheck {
    position: relative;
    padding-bottom: 80px
}

.SourcesCheck .wrapper {
    height: 600px;
    overflow: hidden
}

.SourcesCheck h2 {
    color: #455a64;
    text-align: center;
    padding: 60px 0
}

.SourcesCheck .widget-container {
    display: block;
    border-radius: 3px;
    border: 30px solid #ddd;
    padding: 25px 25px 0 25px;
    margin: 0;
    color: #4f5a7c;
    font-size: 14px
}

.SourcesCheck::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 413px;
    background: #fff;
    background: -moz-linear-gradient(180deg, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 1) 50%);
    background: -webkit-linear-gradient(180deg, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 1) 50%);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 1) 50%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#ffffff", GradientType=1)
}

.SourcesCheck table {
    border-collapse: separate;
    border-spacing: 0;
    width: 100%
}

.SourcesCheck .mt-2 {
    margin-top: 25px
}

.SourcesCheck table tr td:nth-child(1),
.SourcesCheck table tr th:nth-child(1) {
    width: initial
}

.SourcesCheck table tr td:nth-child(2),
.SourcesCheck table tr th:nth-child(2) {
    width: 150px
}

.SourcesCheck .btn {
    font-size: 16px;
    display: inline-block;
    color: #fff;
    font-weight: 300;
    padding: 17.5px 60px;
    -webkit-transition: background-color .2s ease-in-out;
    transition: background-color .2s ease-in-out;
    margin: 0 auto 0 auto
}

.SourcesCheck .btn:hover {
    background-color: #199f6e !important;
    -webkit-transition: background-color .2s ease-in-out;
    transition: background-color .2s ease-in-out
}

.rotate-block {
    display: none
}

.SourcesCheck table thead th {
    padding: 5px;
    text-align: left;
    font-weight: 700;
    color: #4f5a7c;
    vertical-align: middle;
    cursor: pointer
}

.SourcesCheck table tr td {
    text-align: left;
    border-right: none;
    border-bottom: 1px solid #ddd;
    padding: 10px 5px
}

.SourcesCheck div.lable label {
    display: block;
    float: left;
    margin-right: 10px
}

.SourcesCheck label.favicon img {
    width: 16px;
    height: 16px
}

.SourcesCheck .text-labl {
    line-height: 19px !important;
    padding-top: 0
}

.SourcesCheck .widget-title {
    font-size: 20px;
    color: #6695e2;
    text-align: center;
    font-weight: 300;
    display: block
}

.SourcesCheck tr:hover {
    background: #f5f5f5
}

.SourcesCheck .center-position {
    position: relative;
    z-index: 5;
    text-align: center
}

.text-center {
    text-align: center !important
}

.ico-stat-01,
.ico-stat-02,
.ico-stat-03,
.ico-stat-09 {
    width: 15px;
    height: 10px;
    position: relative;
    display: inline-block;
    margin-right: 3px
}

.ico-stat-09:after {
    content: '';
    background: url(../img/ico-trafic-09-s.svg);
    display: inline-block;
    width: 15px;
    height: 15px;
    position: absolute;
    top: -3px;
    left: 0
}

.ico-stat-03:after {
    content: '';
    background: url(../img/ico-trafic-03-s.svg);
    display: inline-block;
    width: 15px;
    height: 15px;
    position: absolute;
    top: -3px;
    left: 0
}

.ico-stat-02:after {
    content: '';
    background: url(../img/ico-trafic-02-s.svg);
    display: inline-block;
    width: 15px;
    height: 15px;
    position: absolute;
    top: -3px;
    left: 0
}

.ico-stat-01:after {
    content: '';
    background: url(../img/ico-trafic-01-s.svg);
    display: inline-block;
    width: 15px;
    height: 15px;
    position: absolute;
    top: -3px;
    left: 0
}

.green {
    color: #27c58b !important
}

.blue {
    color: #6695e2 !important
}

.red {
    color: #e26666 !important
}

.calc .project .item::after,
.calc .project::after {
    clear: both;
    display: block;
    content: ""
}

.calc {
    padding-bottom: 80px
}

.calc h2 {
    font-size: 36px;
    color: #455a64;
    text-align: center;
    padding: 0
}

.calc h2 a {
    color: #455a64;
    text-decoration: none
}

.calc .project {
    width: 1190px;
    margin: 0 auto 20px auto
}

.calc .calcu .title,
.calc .project .title,
.calc .sum .title {
    font-size: 20px;
    text-align: center;
    margin: 20px 0;
    color: #455a64
}

.calc .calcu,
.calc .sum {
    opacity: 0;
    height: 0;
    overflow: hidden;
    -webkit-transition: height .4s ease-out .1s, opacity .4s ease-out .1s;
    transition: height .4s ease-out .1s, opacity .4s ease-out .1s
}

.calc .calcu.active {
    opacity: 1;
    height: 164px;
    -webkit-transition: height .4s ease-out .1s, opacity .4s ease-out .1s;
    transition: height .4s ease-out .1s, opacity .4s ease-out .1s
}

.calc .sum.active {
    opacity: 1;
    height: 232px;
    -webkit-transition: height .2s ease-out .1s, opacity .4s ease-out .1s;
    transition: height .2s ease-out .1s, opacity .4s ease-out .1s
}

.calc .calcu .title {
    margin: 0 0 20px 0
}

.calc .calcu .blocs {
    background-color: #f5f5f5;
    padding: 40px 0
}

.calc .calcu .blocs input {
    display: block;
    border: 1px solid #ccc;
    background-color: #fff;
    font-size: 16px;
    padding: 10px;
    width: 250px;
    border-radius: 4px;
    margin: 0 auto;
    text-align: center;
    color: #455a64
}

.calc .sum fieldset {
    border: 1px solid #f2f2f2;
    padding: 25px;
    text-align: center;
    min-height: 167px
}

.calc .sum fieldset.vipTar {
    border: 1px solid #27c58b
}

.calc .sum fieldset.vipTar legend {
    color: #27c58b
}

.calc .sum fieldset.vipTar .tabl:last-child .tablCell {
    color: #27c58b
}

.calc .sum fieldset .tabl {
    display: table;
    width: 100%;
    margin-bottom: 5px
}

.calc .sum fieldset .tablCell {
    display: table-cell;
    width: 50%;
    text-align: left;
    color: #364952;
    font-size: 20px;
    font-weight: 300
}

.calc .sum fieldset .tablCell:last-child {
    text-align: right
}

.calc .sum fieldset legend {
    background-color: #fff;
    color: #b3b3b3;
    font-size: 16px;
    font-weight: 500;
    padding: 5px 15px
}

.calc .project .item {
    position: relative;
    float: left;
    cursor: pointer;
    padding: 20px 25px;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    margin: 0 5px;
    -webkit-transition: background-color .2s ease-in-out;
    transition: background-color .2s ease-in-out
}

.calc .project .item.active,
.calc .project .item:hover {
    background-color: #f5f5f5;
    -webkit-transition: background-color .2s ease-in-out;
    transition: background-color .2s ease-in-out
}

.calc .project .item::before {
    position: absolute;
    bottom: -21px;
    left: 50%;
    content: '';
    width: 30px;
    margin-left: -15px;
    height: 0;
    border: 15px solid transparent;
    border-bottom: 15px solid #f5f5f5;
    display: block;
    opacity: 0;
    -webkit-transition: opacity .4s ease-in-out;
    transition: opacity .4s ease-in-out
}

.calc .project .item.active::before {
    opacity: 1;
    -webkit-transition: opacity .4s ease-in-out;
    transition: opacity .4s ease-in-out
}

.calc .project .item .ico {
    position: relative;
    display: block;
    float: left;
    width: 40px;
    height: 40px;
    margin-right: 15px;
    background-color: #e8e8e8;
    border: 2px solid #e8e8e8;
    text-align: center;
    border-radius: 100%;
    -webkit-transition: border-color .2s ease-in-out;
    transition: border-color .2s ease-in-out
}

.calc .project .item.active .ico {
    border: 2px solid #27c58b;
    -webkit-transition: border-color .2s ease-in-out;
    transition: border-color .2s ease-in-out
}

.calc .project .item span {
    font-size: 16px;
    color: #364952;
    display: block;
    width: calc(100% - 55px);
    float: left
}

.calc .project .item img {
    position: absolute;
    width: 20px;
    left: 50%;
    margin-left: -10px;
    top: 8px
}

section.contact {
    position: relative
}

[class*=ymaps-2][class*="-ground-pane"] {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%)
}

section.contact #map {
    width: 100%;
    height: 500px
}

section.contact .block-contact {
    position: absolute;
    width: 400px;
    top: 50px;
    left: 18.5%;
    background: #fff;
    border-radius: 4px;
    padding: 25px;
    z-index: 9;
    -webkit-box-shadow: 5px 5px 26px 0 rgba(0, 0, 0, .15);
    -moz-box-shadow: 5px 5px 26px 0 rgba(0, 0, 0, .15);
    box-shadow: 5px 5px 26px 0 rgba(0, 0, 0, .15)
}

section.contact .item {
    margin-bottom: 20px;
    color: #425660
}

section.contact p {
    font-size: 16px;
    line-height: 22px;
    font-weight: 300
}

section.contact a {
    color: #6695e2;
    text-decoration: none;
    -webkit-transition: opacity .2s ease-in-out;
    transition: opacity .2s ease-in-out
}

section.contact a:hover {
    opacity: .6;
    -webkit-transition: opacity .2s ease-in-out;
    transition: opacity .2s ease-in-out
}

section.contact h2 {
    color: #425660;
    margin-bottom: 20px
}

section.contact .item h4 {
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: 400
}

section.contact .item:last-child {
    margin-bottom: 0
}

footer {
    margin-top: 0;
    padding: 25px 0 0 0;
    background: #364952;
    background: -moz-linear-gradient(90deg, rgba(54, 73, 82, 1) 0, rgba(69, 90, 100, 1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(54, 73, 82, 1) 0, rgba(69, 90, 100, 1) 100%);
    background: linear-gradient(90deg, rgba(54, 73, 82, 1) 0, rgba(69, 90, 100, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#364952", endColorstr="#455a64", GradientType=1)
}

footer .bg-foot-last {
    margin-top: 25px;
    color: #fff;
    background: rgba(0, 0, 0, .25);
    padding: 15px 0;
    opacity: .5
}

footer .bg-foot-last a {
    color: #fff;
    text-decoration: none;
    display: block;
    -webkit-transition: opacity .2s ease-in-out;
    transition: opacity .2s ease-in-out
}

footer .bg-foot-last a:hover {
    opacity: .5;
    -webkit-transition: opacity .2s ease-in-out;
    transition: opacity .2s ease-in-out
}

footer .bg-foot-first {
    text-align: center
}

footer .bg-foot-first a {
    text-decoration: none;
    padding: 0 10px;
    color: #ccd1d4;
    -webkit-transition: opacity .2s ease-in-out;
    transition: opacity .2s ease-in-out
}

footer .bg-foot-first a:hover {
    opacity: .5;
    -webkit-transition: opacity .2s ease-in-out;
    transition: opacity .2s ease-in-out
}

footer .copy {
    text-align: left;
    font-weight: 200;
    font-size: 14px;
    float: left;
    margin-right: 10px
}

.confidential {
    text-align: right
}

.confidential a {
    display: inline-block !important;
    margin-left: 12px;
    font-size: 14px;
    -webkit-transition: opacity .2s ease-in-out;
    transition: opacity .2s ease-in-out
}

.confidential a:hover {
    opacity: .4;
    -webkit-transition: opacity .2s ease-in-out;
    transition: opacity .2s ease-in-out
}

footer .nw {
    float: left;
    margin: -2px 2px 0 5px
}

footer .fb {
    background: url(../img/nw-w-01.svg);
    width: 20px;
    height: 20px;
    display: block
}

footer .vk {
    background: url(../img/nw-w-02.svg);
    width: 20px;
    height: 20px;
    display: block
}

/* ----------------------- */
.roll-network{
	position: fixed;
    right: 15px;
    bottom: 15px;
    z-index: 9999;
}

.roll-network .block-roll{
    position: relative;
}

.roll-network .block-roll.open-is .block-roll-network{
    overflow: visible;
    height: 300px;
    transition: all 0.3s ease-in-out;
    opacity: 1;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 10px 0;
    box-shadow: 0 5px 20px 0 rgba(0,0,0,.1)!important;
    z-index: 3;
}

.roll-network .block-roll .ico-roll-network::after{
    content: "";
    background-image: url(../img/network/mess-01.svg);
    width: 32px;
    height: 32px;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -16px;
    margin-left: -16px;
}

.roll-network .block-roll.open-is .ico-roll-network::after{
    content: "+";
    background-image: none;
    text-align: center;
    font-size: 42px;
    font-weight: 100;
    transform: rotate(45deg);
    color: #fff;
    line-height: 32px;
}

.roll-network .block-roll .block-roll-network{
    height: 0px;
    overflow: hidden;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    right: 0;
    width: 215px;
    bottom: 80px;
}

.roll-network .block-roll.open-is .block-roll-network::after{
    content: ""!important;
    position: absolute!important;
    width: 0!important;
    height: 0!important;
    bottom: -12px!important;
    border-left: 12px solid transparent!important;
    border-right: 12px solid transparent!important;
    border-top-width: 12px;
    border-top-style: solid!important;
    z-index: 0!important;
    border-color: #fff;
    right: 16px;
}

.roll-network .block-roll.open-is .message-list{
    display: none;
}

.roll-network .block-roll .ico-roll-network{
    background-color: #688BE1;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 5px 20px 0 rgba(0,0,0,.1)!important;
}

.roll-network .block-roll .block-roll-network{
    position: absolute;
    bottom: 80px;
}

.roll-network .block-roll .block-roll-network .item{
    position: relative;
    padding: 5px 15px;
}

.roll-network .block-roll .block-roll-network .item:hover{
    background-color: #f1f2f7;
}

.roll-network .block-roll .block-roll-network a{
    position: relative;
    cursor: pointer;
    display: block;
    transition: all 0.3s ease-in-out;
    padding-left: 40px;
    height: 30px;
    line-height: 32px;
    text-decoration: none;
    font-size: 14px;
    color: #425660;
}

.roll-network .block-roll .block-roll-network a:hover{
    opacity: 0.6;
    transition: all 0.3s ease-in-out;
}

.roll-network .block-roll .block-roll-network a.chat-teleg-icon::after{
    content: "";
    background-image: url(../img/network/teleg.svg);
    background-color: #27A3E3;

    background-size: 16px 16px;
    background-position: 45% 50%;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    display: block;
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 0;
    margin-top: -15px;
}

.roll-network .block-roll .block-roll-network a.chat-viber-icon::after{
    content: "";
    background-image: url(../img/network/viber.svg);
    background-color: #8B66A9;
    background-size: 20px 20px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    display: block;
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 0;
    margin-top: -15px;
}

.roll-network .block-roll .block-roll-network a.chat-phone-icon::after{
    content: "";
    background-image: url(../img/network/phone.svg);
    background-color: #364952;
    background-size: 16px 16px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    display: block;
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 0;
    margin-top: -15px;
}

.roll-network .block-roll .block-roll-network a.chat-whats-icon::after{
    content: "";
    background-image: url(../img/network/whatsapp.svg);
    background-color: #25CC62;
    background-size: 16px 16px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    display: block;
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 0;
    margin-top: -15px;
}

.roll-network .block-roll .block-roll-network a.chat-vk-icon::after{
    content: "";
    background-image: url(../img/network/vk.svg);
    background-color: #4E7DB2;
    background-size: 16px 16px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    display: block;
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 0;
    margin-top: -15px;
}

.roll-network .block-roll .block-roll-network a.chat-fb-icon::after{
    content: "";
    background-image: url(../img/network/fb.svg);
    background-color: #4867AA;
    background-size: 16px 16px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    display: block;
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 0;
    margin-top: -15px;
}

.roll-network .block-roll .block-roll-network a.chat-chat-icon::after{
    content: "";
    background-image: url(../img/network/chat.svg);
    background-color: #800c7a;
    background-size: 16px 16px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    display: block;
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 0;
    margin-top: -15px;
}

.roll-network .message-list{
    position: absolute;
    bottom: 80px;
    right: 0px;
    width: 130px;
    transition: all 0.3s ease-in-out;
    opacity: 1;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 5px 20px 0 rgba(0,0,0,.1)!important;
    text-decoration: none;
    font-size: 14px;
    color: #425660;
    text-align: center;
    z-index: 1;
    transition: all 0.3s ease-in-out;
}

.roll-network .message-list:hover{
    color: #6695E2;
    transition: all 0.3s ease-in-out;
}

.roll-network .message-list::after {
    content: ""!important;
    position: absolute!important;
    width: 0!important;
    height: 0!important;
    bottom: -12px!important;
    border-left: 12px solid transparent!important;
    border-right: 12px solid transparent!important;
    border-top-width: 12px;
    border-top-style: solid!important;
    z-index: 0!important;
    border-color: #fff;
    right: 16px;
}

@media (max-width:1200px) {


    section {
        width: 100%
    }

    .wrapper {
        width: 95%
    }

    header .project-title span {
        display: none
    }

    header .project-title span.ico-down-arr {
        display: block
    }

    .how-calls-screen .ul-list ul li span {
        font-size: 16px;
        width: 100%
    }

    section.clique-screen .clique-info {
        width: 90%
    }

    .click-project::before {
        content: "";
        background-image: url(../img/nav-project.svg);
        height: 23.25px;
        width: 27px;
        display: block;
        float: left;
    }

    .table-tariff.col-table-3 tr td {
        height: 82px
    }

    .table-tariff.col-table-3 tr:last-child td {
        height: 190px
    }
}

@media (max-width:1100px) {

    header .menu-burger {
        display: block;
    }

    h2 {
        font-size: 36px !important;
        line-height: 40px
    }

    .who-calls-screen p {
        width: 90%
    }

    section.first-screen {
        height: 500px;
        background-size: cover
    }

    section.first-screen .tableCell {
        height: 500px
    }

    section.first-screen h1,
    section.first-screen h3 {
        width: 50%
    }

    section.first-screen .btn {
        margin-top: 30px
    }

    .price .btn {
        display: block;
        padding: 17.5px 0;
        white-space: initial;
        line-height: 22px;
        width: 100%
    }

    .news .newsBlock,
    .news img {
        width: 100%;
        float: none;
        padding-left: 0
    }

    .calc .project {
        width: 100%
    }

    .calc .sum .col-6 {
        -ms-flex: 0 0 100%;
        -webkit-box-flex: 0;
        flex: 0 0 100%;
        max-width: 100%
    }

    .calc .sum.active {
        height: 405px
    }

    .calc .project .item {
        width: calc(50% - 10px);
        margin: 5px
    }

    .calc .project .item::before {
        display: none
    }

    .table-tariff.col-table-3 tr:last-child td {
        height: 215px
    }

    .widget-container table thead th span {
        display: none
    }

    th.s-n::before {
        content: attr(data-title);
        display: inline
    }

    .table-tariff.col-table-3 tr th,
    .table-tariff.col-table-3 tr td {
        height: 100px
    }

    .menu-head {
        display: none
    }
}

@media (max-width:930px) {

    header .logo a {
        width: 43px;
        overflow: hidden;
        background-size: cover;
    }
    
    .text-labl {
        max-width: 154px;
        display: inline-block;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden
    }

    section.clique-screen .col-6:first-child {
        padding: 40px 0
    }
    
    .clique-screen .col-6 {
        -ms-flex: 0 0 100%;
        -webkit-box-flex: 0;
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 0
    }

    section.clique-screen .col-6:first-child::after {
        left: -100%;
        width: 200%
    }

    section.clique-screen .clique-info {
        margin: 0 auto 0 auto;
        width: 435px
    }

    .news .col-6,
    .who-calls-screen .col-3 {
        -ms-flex: 0 0 100%;
        -webkit-box-flex: 0;
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 40px
    }

    .who-calls-screen .col-3:last-child {
        margin-bottom: 0
    }

    .news .col-6 {
        padding-bottom: 0;
        margin-bottom: 40px
    }

    .news .col-6:last-child {
        margin-bottom: 0
    }

    section.clique-screen .col-6 p:last-child {
        margin-bottom: 0
    }

    section.clique-screen .clique {
        width: 435px;
        margin: 0 auto 40px auto
    }
}

@media (max-width:800px) {
    .table-tariff thead tr:nth-child(2) th,
    .table-tariff .proj-name span{
        font-size: 14px;
    }
    .table1p{
        width: 35% !important;
    }

    .table2p{
        width: 22.5% !important;
    }

    .table-tariff .title, .table1p tr:first-child th:first-child, .table-tariff .price {
        font-size: 20px;
    }

    table tr td, table tr th {
        width: 53px;
        font-size: 12px;
    }

    h1 {
        font-size: 36px;
        line-height: 42px
    }

    h3 {
        font-size: 20px
    }

    .who-calls-screen,
    section.clique-screen {
        margin: 60px 0 0 0
    }

    section.clique-screen h2 {
        padding-bottom: 60px
    }

    .who-calls-screen h2 {
        padding-bottom: 80px
    }

    .price h2,
    .project-screen h2 {
        padding: 60px 0
    }

    .table-tariff.col-table-3 tr td {
        height: 100px
    }

    .table-tariff.col-table-3 tr:last-child td {
        height: 225px
    }

    .calc .sum fieldset .tablCell:first-child {
        width: 70%
    }

    .calc .sum fieldset .tablCell:last-child {
        width: 30%
    }

    .price .btn{
        font-size: 14px;
        text-indent: -9999px;
        padding: 5px;
    }

    .table-tariff:nth-child(2) .btn::after{
        content: " Попробовать ";
    }

    .table-tariff .btn::after {
        content: " Купить ";
        font-size: 14px;
        display: block;
        text-indent: 0;
        border-radius: 50px;
        text-align: center;
        line-height: 27px;
        margin-top: -21px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width:730px) {
    .table-tariff .price{
        height: 60px;
    }
    
    .SourcesCheck {
        display: none
    }
	
	.roll-network .message-list {
        display: none;
    }
}

@media (max-width:630px) {

    .partner{
        height: 550px;
    }

    .nav-menu {
        width: 100%;
    }

    header .menu-burger {
        margin-left: 10px;
    }

    .text-labl {
        max-width: 90px
    }

    .calc .sum.active {
        height: 425px
    }

    .calc .project .item {
        width: 100%
    }

    section.first-screen h1,
    section.first-screen h3 {
        width: 80%
    }

    header .login.btn {
        padding: 10.5px 10px
    }

    header .login.btn span {
        display: none
    }

    header .login.btn::after {
        content: "";
        background: url(../img/user.svg);
        height: 17px;
        width: 15px;
        display: block
    }

    header .logo {
        padding-right: 10px
    }

    section.contact .block-contact {
        position: static;
        top: initial;
        left: initial;
        width: 100%;
        -webkit-box-shadow: none;
        box-shadow: none
    }

    section.clique-screen .clique .num span {
        font-size: 20px
    }

    section.clique-screen .clique .num {
        padding-left: 15px
    }

    section.clique-screen .clique .num div {
        font-size: 36px
    }

    section.clique-screen .clique,
    section.clique-screen .clique-info {
        width: 310px
    }

    section.clique-screen .clique {
        margin: 0 auto 20px auto
    }

    .project-screen .content,
    .project-screen .log-ico {
        width: 100%;
        text-align: center;
        margin-left: 0 !important;
        margin-right: 0 !important
    }

    .project-screen h3 {
        width: 100%
    }

    .project-screen .log-ico img {
        width: 40%;
        margin: 20px auto;
        display: block
    }

    header .project-title .click-project {
        padding: 13px 10px
    }

    .contact-head {
        text-align: right;
        margin: 6px 10px 6px 0
    }

    .contact-head a.phone {
        font-size: 14px
    }

    .contact-head a.mail {
        text-align: right;
        margin-bottom: 7px
    }

    .project-bar {
        left: -50px;
        width: 360px
    }

    .project-bar::before {
        left: 60px
    }

    .calc .sum.active {
        height: 532px
    }

    .table-tariff .proj-name span {
        display: none
    }

    .table1p {
        display: none
    }

    .table2p,
    .table3p {
        width: 33.333% !important
    }

    td.ant::before {
        content: "";
        background: url(../img/ico-project/ico-antibot-dir.svg);
        width: 20px;
        height: 20px;
        display: block;
        margin: 0 auto 10px auto
    }

    .table-tariff tbody tr:nth-child(5) td.ant::before {
        background: url(../img/ico-project/ico-shortlink-dir.svg);
        width: 24px;
        height: 20px
    }

    td.bann::before {
        content: "";
        background: url(../img/ico-project/ico-banner-dir.svg);
        width: 20px;
        height: 20px;
        display: block;
        margin: 0 auto 10px auto
    }

    td.der::before {
        content: "";
        background: url(../img/ico-project/ico-yandex-dir.svg);
        width: 20px;
        height: 20px;
        display: block;
        margin: 0 auto 10px auto
    }

    td.ads::before {
        content: "";
        background: url(../img/ico-project/ico-google-dir.svg);
        width: 20px;
        height: 20px;
        display: block;
        margin: 0 auto 10px auto
    }

    .table-tariff.col-table-3 tr td {
        height: 60px
    }

    .calc .calcu.active {
        height: 186px
    }

    .calc .sum fieldset .tablCell:first-child,
    .calc .sum fieldset .tablCell:last-child {
        width: 50%
    }

    .calc .sum fieldset .tabl {
        margin-bottom: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid #f5f5f5
    }

    footer .col-6 {
        -ms-flex: 0 0 100%;
        -webkit-box-flex: 0;
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 0;
        text-align: center
    }

    footer .copy {
        width: 100%;
        text-align: center;
        float: none;
        padding-bottom: 20px
    }

    .confidential {
        margin-top: 20px;
        text-align: center
    }

    footer .bg-foot-first a,
    footer .bg-foot-last a {
        display: block;
        margin: 5px 0
    }

    footer .nw {
        float: none;
        display: inline-block
    }
}

@media (max-width:580px) {
    .text-labl {
        max-width: 30px
    }

    .table-tariff.col-table-3 tr td {
        height: 80px;
    }

    .table-tariff .units {
        height: 65px
    }

}

@media (max-width:470px) {
    .calc .sum.active {
        height: 545px
    }
}

@media (max-width:400px) {
    .project-bar {
        width: 295px
    }

    header .project-title span {
        font-size: 14px
    }

    section.first-screen h1,
    section.first-screen h3 {
        width: 90%
    }

    .calc .sum.active {
        height: 540px
    }

    .table-tariff.col-table-3 tr td {
        height: 88px
    }

    .calc .sum.active {
        height: 593px
    }

    .table-tariff .title {
        height: 65px;
    }
}

@media (max-width:370px) {

    .table-tariff td,
    .table-tariff th {
        word-break: break-all
    }

   
    .table-tariff .price {
        height: 71px
    }

    .calc .sum.active {
        height: 618px
    }
}

@media (min-width:2000px) {
    section {
        background-size: cover
    }
}