@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 100;
    src: url(../fonts/roboto-v20-latin_cyrillic-100.eot);
    src: local('Roboto Thin'), local('Roboto-Thin'), url(../fonts/roboto-v20-latin_cyrillic-100.eot?#iefix) format('embedded-opentype'), url(../fonts/roboto-v20-latin_cyrillic-100.woff2) format('woff2'), url(../fonts/roboto-v20-latin_cyrillic-100.woff) format('woff'), url(../fonts/roboto-v20-latin_cyrillic-100.ttf) format('truetype'), url(../fonts/roboto-v20-latin_cyrillic-100.svg#Roboto) format('svg');
    font-display: swap
}

@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    src: url(../fonts/roboto-v20-latin_cyrillic-300.eot);
    src: local('Roboto Light'), local('Roboto-Light'), url(../fonts/roboto-v20-latin_cyrillic-300.eot?#iefix) format('embedded-opentype'), url(../fonts/roboto-v20-latin_cyrillic-300.woff2) format('woff2'), url(../fonts/roboto-v20-latin_cyrillic-300.woff) format('woff'), url(../fonts/roboto-v20-latin_cyrillic-300.ttf) format('truetype'), url(../fonts/roboto-v20-latin_cyrillic-300.svg#Roboto) format('svg');
    font-display: swap
}

@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/roboto-v20-latin_cyrillic-regular.eot);
    src: local('Roboto'), local('Roboto-Regular'), url(../fonts/roboto-v20-latin_cyrillic-regular.eot?#iefix) format('embedded-opentype'), url(../fonts/roboto-v20-latin_cyrillic-regular.woff2) format('woff2'), url(../fonts/roboto-v20-latin_cyrillic-regular.woff) format('woff'), url(../fonts/roboto-v20-latin_cyrillic-regular.ttf) format('truetype'), url(../fonts/roboto-v20-latin_cyrillic-regular.svg#Roboto) format('svg');
    font-display: swap
}

@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    src: url(../fonts/roboto-v20-latin_cyrillic-500.eot);
    src: local('Roboto Medium'), local('Roboto-Medium'), url(../fonts/roboto-v20-latin_cyrillic-500.eot?#iefix) format('embedded-opentype'), url(../fonts/roboto-v20-latin_cyrillic-500.woff2) format('woff2'), url(../fonts/roboto-v20-latin_cyrillic-500.woff) format('woff'), url(../fonts/roboto-v20-latin_cyrillic-500.ttf) format('truetype'), url(../fonts/roboto-v20-latin_cyrillic-500.svg#Roboto) format('svg');
    font-display: swap
}

@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/roboto-v20-latin_cyrillic-700.eot);
    src: local('Roboto Bold'), local('Roboto-Bold'), url(../fonts/roboto-v20-latin_cyrillic-700.eot?#iefix) format('embedded-opentype'), url(../fonts/roboto-v20-latin_cyrillic-700.woff2) format('woff2'), url(../fonts/roboto-v20-latin_cyrillic-700.woff) format('woff'), url(../fonts/roboto-v20-latin_cyrillic-700.ttf) format('truetype'), url(../fonts/roboto-v20-latin_cyrillic-700.svg#Roboto) format('svg');
    font-display: swap
}

*,
::after,
::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

* {
    border: none;
    margin: 0;
    padding: 0;
    outline: 0;
    -webkit-tap-highlight-color: transparent
}

html {
    -webkit-text-size-adjust: 100%;
    width: 100%;
    height: 100vh;
}

body {
    counter-reset: section;
    font-size: 14px;
    font-family: Roboto, sans-serif;
    background: #fff;
    height: 100vh;
}

article,
aside,
footer,
header,
hgroup,
main,
nav,
picture,
section {
    display: block
}

.center {
    text-align: center
}

.clear {
    clear: both
}

.wrapper {
    width: 1200px;
    margin: 0 auto
}

.click-project::after,
.col-row::after,
.how-calls-screen .ul-list ul::after,
.row::after,
section.clique-screen .clique:after {
    content: "";
    display: block;
    clear: both
}

.row {
    position: relative
}

h1 {
    font-size: 48px;
    line-height: 52px;
    font-weight: 100
}

h3 {
    font-size: 24px;
    line-height: 26px;
    font-weight: 100
}

h2 {
    font-size: 48px;
    line-height: 50px;
    font-weight: 300
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 0;
    background: #fff;
    z-index: 100
}

header .wrapper {
    width: 100%;
    padding: 0 15px
}

header .logo {
    padding-right: 20px;
    float: left;
    border-right: 1px solid #ccc;
}

header .project-title {
    float: right;
    position: relative;
    border-right: 1px solid #cccccc;
    margin-right: 20px;
}

.ico-down-arr {
    margin-left: 10px
}

.menu-head {
    float: left
}

.menu-head ul li {
    position: relative;
    border-left: 1px solid #ccc;
    list-style: none;
    float: left
}

.menu-head ul li::after {
    content: "";
    display: block;
    height: 7px;
    width: 0px;
    background-color: #27C58B;
    position: absolute;
    bottom: -12px;
    left: 0;
    transition: all .4s linear;
}

.menu-head ul li.active::after {
    content: "";
    width: 100%;
    transition: all .4s linear;
}

.menu-head ul li:nth-child(2) {
    border-left: 0;
}

.menu-head ul li a {
    opacity: 1;
    display: block;
    font-size: 18px;
    padding: 13px 20px;
    font-weight: 300;
    color: #455a64;
    text-decoration: none;
    -webkit-transition: opacity .3s ease-out .1s;
    transition: opacity .3s ease-out .1s
}

.menu-head ul li a:hover {
    opacity: .6;
    -webkit-transition: opacity .3s ease-out .1s;
    transition: opacity .3s ease-out .1s
}

.ico-down-arr:after {
    content: '';
    background: url(../img/arr-ico-tow.svg) no-repeat;
    display: inline-block;
    width: 14px;
    height: 8px;
    -webkit-transition: .4s ease-in-out;
    transition: .4s ease-in-out;
    position: relative;
    top: -2px
}

.project-title.is-open .ico-down-arr:after {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transition: .4s ease-in-out;
    transition: .4s ease-in-out
}

.project-bar {
    height: 0;
    opacity: 0;
    background: #273238;
    position: absolute;
    top: 100%;
    left: 0;
    width: 400px;
    margin-top: 12px;
    -webkit-transition: height .4s ease-out .1s, opacity .2s ease-out .1s;
    transition: height .4s ease-out .1s, opacity .2s ease-out .1s;
    z-index: 99
}

.project-bar::before {
    position: absolute;
    top: -19px;
    left: 25px;
    content: '';
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-bottom: 10px solid #273238;
    display: block
}

.project-bar ul {
    list-style: none;
    height: 0;
    text-align: left;
    overflow: hidden
}

.project-bar ul li.active {
    background: #1c2529
}

.project-bar ul li a {
    position: relative;
    display: block;
    padding: 15px 15px;
    text-decoration: none
}

.project-bar ul li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 15px;
    display: block;
    width: calc(100% - 30px);
    margin: 0 auto;
    border-bottom: 1px solid #364952
}

.project-bar ul li:last-child a::after {
    border: none
}

.project-bar ul li a:hover span,
.project-bar ul li.active span {
    opacity: .4
}

.project-bar ul li a img {
    display: inline-block;
    height: 16px;
    margin-right: 10px
}

.project-bar ul li a span {
    display: inline-block;
    float: none;
    color: #fff
}

.project-title.is-open .project-bar {
    height: 260px;
    -webkit-transition: height .2s ease-out .1s, opacity .4s ease-out .1s;
    transition: height .2s ease-out .1s, opacity .4s ease-out .1s;
    opacity: 1
}

.project-title.is-open .project-bar ul {
    height: 260px
}

header .project-title .click-project {
    cursor: pointer;
    padding: 13px 20px;
    -webkit-transition: opacity .3s ease-out .1s;
    transition: opacity .3s ease-out .1s
}

header .project-title .click-project:hover {
    opacity: .6;
    -webkit-transition: opacity .3s ease-out .1s;
    transition: opacity .3s ease-out .1s
}

header .project-title span {
    float: left;
    font-size: 18px;
    font-weight: 300;
    color: #455a64
}

header .logo a {
    display: block;
    background-image: url(../img/logo.svg);
    height: 50px;
    width: 141px
}

header .menu-burger {
    float: right;
    cursor: pointer;
    padding: 13px 0;
    height: 23.25px;
    width: 27px
}

header .menu-burger::after {
    content: "";
    background-image: url(../img/ico-menu.svg);
    display: block;
    height: 23.25px;
    width: 27px
}

.nav-menu.active {
    right: 0;
    -webkit-transition: .2s;
    transition: .2s;
    z-index: 10;
    -webkit-transition: all .8s ease-in-out;
    -moz-transition: all .8s ease-in-out;
    -o-transition: all .8s ease-in-out;
    transition: all .8s ease-in-out
}

.nav-menu {
    position: fixed;
    background: #6695e2;
    height: 100%;
    width: 50%;
    right: -4500px;
    -webkit-transition: all .8s ease-in-out;
    -moz-transition: all .8s ease-in-out;
    -o-transition: all .8s ease-in-out;
    transition: all .8s ease-in-out
}

.munu-punkt {
    float: left;
}

header .login.btn {
    background: #6695e2;
    color: #fff;
    float: right;
    margin: 7px 0 7px 0;
    -webkit-transition: background-color .2s ease-in-out;
    transition: background-color .2s ease-in-out
}

header .login.btn:hover {
    background-color: #057baa;
    -webkit-transition: background-color .2s ease-in-out;
    transition: background-color .2s ease-in-out
}

.botfaq-dir .btn {
    background: #27c58b;
    color: #fff;
    -webkit-transition: background-color .2s ease-in-out;
    transition: background-color .2s ease-in-out
}

.botfaq-dir .btn:hover {
    background-color: #199f6e;
    -webkit-transition: background-color .2s ease-in-out;
    transition: background-color .2s ease-in-out
}

.btn {
    border-radius: 4px;
    padding: 10.5px 30px;
    text-transform: initial;
    font-size: 14px;
    border: none;
    font-family: Roboto, sans-serif;
    cursor: pointer;
    font-weight: 300;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -moz-user-select: none;
    -ms-user-select: none;
    line-height: 14px
}

.contact-head {
    float: right;
    margin: 6px 20px 6px 0
}

.contact-head a.mail {
    color: grey;
    font-size: 12px;
    display: block;
    text-align: left;
    font-weight: 300;
    text-decoration: none;
    margin-bottom: 2px
}

.contact-head a.phone {
    text-decoration: none;
    color: #364952;
    font-size: 18px;
    display: block;
    text-align: left;
    font-weight: 300
}

section,
.fullpage {
    height: 100%;
}

.right-bonus {
    float: right;
    display: flex;
    text-align: right;
    font-size: 16px;
    color: #ffffff;
    padding: 6px 0px;
    cursor: pointer;
    align-items: center
}

.col-bonus {
    margin-left: 80px;
    font-size: 24px;
    font-weight: 300;
    line-height: 28px;
    color: #6695e2;
    margin-top: 19px;
}

#index .infos .popup__tail {
    position: absolute;
    z-index: 9;
    display: block;
    width: 17px;
    height: 17px;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    margin-left: -17px;
    bottom: 100%;
    top: auto;
    right: 40px;
    left: auto;
    border: 1px solid rgb(255 255 255 / 0.4);
}

#index .infos .popup__tail:after {
    position: absolute;
    background-color: #3b4f58;
    bottom: 0;
    left: 0;
    width: 17px;
    height: 17px;
    content: '';
}


#index .infos {
    opacity: 0;
    position: absolute;
    transition: all .4s linear;
    border: 1px solid rgb(255 255 255 / 0.4);
    padding: 15px;
    margin: 15px 0;
}

.quest {
    margin-left: 5px;
    text-align: center;
    width: 30px;
    height: 30px;
    border: 1px solid;
    border-radius: 50%;
    float: right;
    background: rgb(255 255 255 / 0.1);
}

.quest::after {
    content: "?";
    line-height: 30px;
}

#index .infos.active {
    opacity: 1;
    transition: all .4s linear;
}

#index .infos ul {
    list-style: none;
    font-size: 14px;
    color: #ffffff;
    margin-top: 5px;
}

#index .infos p {
    margin: 0px 0 0 0;
    line-height: 24px;
}

#index .infos p strong {
    font-size: 14px;
}

#index .wrapper .col-6 .row::after {
    display: none !important;
}

#index .infos ol {
    margin-left: 15px;
    font-size: 14px;
    margin-top: 5px;
    color: #ffffff;
}

.fp-table {
    overflow: hidden;
    position: relative;
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%;
}

.fp-tableCell {
    position: relative;
    z-index: 2;
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
}

.section {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    opacity: 0;
    z-index: -1;
    transition: all .4s linear;
    overflow-y: hidden;
}

.section.active {
    opacity: 1;
    z-index: 2;
    transition: all .4s linear;
}

section .wrapper {
    height: 100%;
}

section .row {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col-6 {
    -ms-flex: 0 0 50%;
    -webkit-box-flex: 0;
    flex: 0 0 50%;
    max-width: 50%;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-auto {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none;
    padding-right: 15px;
    padding-left: 15px;
}

.col-12 {
    -ms-flex: 0 0 100%;
    -webkit-box-flex: 0;
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

#index {
    position: relative;
}

#index .row img {
    margin-top: -65px;
}

#index h2 {
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    color: #ffffff;
}

#index p {
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    margin: 25px 0 25px 0;
    color: #FFFFFF;
}

#index::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #3B4F58;
    z-index: 1;
}

.btn.green {
    background-color: #27C58B;
    padding: 18px 30px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 300;
    -webkit-transition: background-color .2s ease-in-out;
    transition: background-color .2s ease-in-out
}

.btn.green:hover {
    background-color: #199f6e;
    -webkit-transition: background-color .2s ease-in-out;
    transition: background-color .2s ease-in-out
}

.btn.blue {
    background-color: #6695E2;
    padding: 18px 30px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 300;
}

.btn.blue:hover {
    background-color: #057baa !important;
    -webkit-transition: background-color .2s ease-in-out;
    transition: background-color .2s ease-in-out;
}

.intro {
    position: relative;
    z-index: 10;
    padding-top: 70px;
}

#index .intro .wrapper .row::after {
    content: "";
    display: block;
    position: absolute;
    background-image: url(../img/map.svg);
    width: 953.29px;
    height: 565.44px;
    top: -95px;
    left: -166px;
    z-index: 1;
}

#index .row .col-6 {
    z-index: 4;
}

.vec-se1 {
    position: absolute;
    width: 500px;
    height: 338px;
    left: 0;
    top: -50px;
    transform: translateY(-100%);
    background-image: url(../img/vect-se1.svg);
    transition: all 0.6s linear;
    z-index: 2;
}

.vec-se2 {
    bottom: -50px;
    position: absolute;
    width: 500px;
    height: 268px;
    right: -6px;
    background-image: url(../img/vect-se2.svg);
    transition: all 0.6s linear;
    z-index: 2;
}

#index.section.active .row {
    transform: translateY(0);
    transition: all 0.6s linear;
}

.section.active .vec-se1 {
    transform: translateY(0);
    transition: all 0.6s linear;
}

/* about-program */

#about-program h2 {
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    color: #455A64;
    width: 90%;
    margin-bottom: 10px;
    display: block;
}

#about-program p {
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    margin: 25px 0;
    color: #455A64;
    width: 90%;
}

#about-program::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 52%;
    height: 100%;
    background: #057BAA;
    z-index: 1;
}

#about-program .row {
    align-items: center;
}

#about-program::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 52%;
    height: 100%;
    background: #057BAA;
    z-index: 1;
}

#about-program::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/pattern-sec-1.svg);
    z-index: 2;
    background-size: cover;
}

/* section 2 */

#how-to-earn::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #27C58B;
    z-index: 1;
}

#how-to-earn h2 {
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    color: #455A64;
    width: 90%;
}

#how-to-earn p {
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    margin: 35px 0;
    color: #455A64;
    width: 90%;
}

#how-to-earn .item-bg {
    background-color: #ffffff;
    padding: 80px 80px 80px 80px;

}

#how-to-earn .item-bg .item {
    clear: both;
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

#how-to-earn .item-bg .item div {
    width: 45px;
    height: 45px;
    position: relative;
    background: #F5F5F5;
    border-radius: 50%;
}

#how-to-earn .item-bg .item span {
    padding: 8px 0 8px 15px;
    width: calc(100% - 45px);
    font-weight: 300;
    font-size: 21px;
    line-height: 125%;
    color: #455A64;
}

#how-to-earn .item-bg .item img {
    position: absolute;
    top: 9px;
    width: 27px;
    left: 50%;
    margin-left: -13.5px;
}

#how-to-earn::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-image: url(../img/bg-ol.svg);
    z-index: 2;
    background-size: cover;
}

/* section 3 */
#how-much-pay {
    background: #F5F5F5;
}

#how-much-pay img {
    width: 540px;
    margin-left: 30px;
}

#how-much-pay h2 {
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    color: #455A64;
}

#how-much-pay p {
    font-size: 24px;
    font-weight: 300;
    line-height: 28px;
    color: #455A64;
    margin: 35px 0;
}

#how-much-pay p.fd {
    margin: 35px 0 10px 0;
}

#how-much-pay table {
    width: 100%;
    background: #EFEFEF;
    border-radius: 5px;
    font-size: 18px;
    color: #455A64;
    text-align: center;
    margin-top: 25px;
}

#how-much-pay ol {
    margin-left: 15px;
    font-size: 16px;
    color: #455A64;
    line-height: 22px;
}

#how-much-pay ul {
    list-style: none;
    font-size: 16px;
    color: #455A64;
    line-height: 22px;
}

#how-much-pay table th {
    font-weight: bold;
}

#how-much-pay table th,
#how-much-pay table td {
    padding: 9px;
}

#how-much-pay table tr:nth-child(2n) td {
    background: #EAEAEA;
}

#how-much-pay .tolp {
    font-weight: 300;
    font-size: 18px;
    line-height: 125%;
    color: #C0C0C0;
    display: block;
    padding-left: 80px;
    margin-top: 25px;
}

#how-to-earn .intro:after {
    content: "";
    display: block;
    position: absolute;
    background-image: url(../img/rectangle.svg);
    left: 0;
    bottom: -120px;
    height: 484px;
    width: 818px;
    z-index: -1;
}

#how-to-earn .intro img {
    position: relative;
    z-index: 4;
}

.withdraw {
    margin-top: 20px;
    padding: 30px;
    background: #efefef;
    margin-left: 80px;
}

.withdraw::after {
    content: "";
    clear: both;
    display: block;
}

.withdraw h2 {
    font-weight: 300 !important;
    font-size: 28px !important;
    line-height: 34px !important;
    color: #455A64;
    margin: 0 0 30px 0 !important;
}

.withdraw img {
    height: 41px;
    margin: 0 !important;
    display: block;
    float: left;
    width: inherit !important;
    margin-right: 20px !important;
}

/* section 4 */
#how-to-become-partner {
    background: #057BAA;
}

#how-to-become-partner .wrapper a {
    color: #ffffff;
}

#how-to-become-partner .intro {
    padding-top: 0;
}

#how-to-become-partner h2 {
    width: 80%;
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    color: #ffffff;
    margin-bottom: 35px;
}

#how-to-become-partner ul {
    counter-reset: section;
    margin-bottom: 35px;
}

#how-to-become-partner ul li {
    position: relative;
    list-style: none;
    font-weight: 300;
    font-size: 18px;
    line-height: 125%;
    color: #FFFFFF;
    margin-bottom: 20px;
    padding-left: 48px;
}


#how-to-become-partner ul li::before {
    position: absolute;
    counter-increment: section;
    content: counter(section);
    display: block;
    padding: 3px 0px 3px 0px;
    font-weight: 100;
    font-size: 36px;
    line-height: 42px;
    width: 40px;
    left: 0;
    top: 0;
}

#how-to-become-partner::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 31%;
    height: 100%;
    background-image: url(../img/bg-dd.svg);
    z-index: 2;
    background-size: cover;
}

.sect-nav {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    padding: 0 10px;
    background: rgb(0 0 0 / 10%);
    z-index: 99;
    transition: all .2s linear;
}

.sect-nav.dark {
    background: rgb(0 0 0 / 35%);
    transition: all .2s linear;
}

.sect-nav ul::before {
    content: "↑";
    display: block;
    width: 12px;
    text-align: center;
    font-size: 38px;
    color: #ffffff;
    font-weight: 100;
    margin-bottom: 0;
    opacity: .3;
}

.sect-nav ul::after {
    content: "↓";
    display: block;
    width: 12px;
    text-align: center;
    font-size: 38px;
    color: #ffffff;
    font-weight: 100;
    margin-top: 0;
    opacity: .3;
}

.sect-nav ul {
    list-style: none;
    position: relative;
    right: 1%;
    top: 50%;
    z-index: 20;
    height: 180px;
    margin-top: -90px;
}

.sect-nav li.active a {
    background: #fff;
}

.sect-nav li a {
    background: transparent;
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-top: 5px;
    border: 2px solid #ffff;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin-top: 0;
    padding: 25px 0 0 0;
    background: #364952;
    background: -moz-linear-gradient(90deg, rgba(54, 73, 82, 1) 0, rgba(69, 90, 100, 1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(54, 73, 82, 1) 0, rgba(69, 90, 100, 1) 100%);
    background: linear-gradient(90deg, rgba(54, 73, 82, 1) 0, rgba(69, 90, 100, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#364952", endColorstr="#455a64", GradientType=1);
}

#how-to-become-partner .wrapper,
footer .wrapper {
    margin-top: 0;
}

footer .bg-foot-last {
    margin-top: 25px;
    color: #fff;
    background: rgba(0, 0, 0, .25);
    padding: 15px 0;
    opacity: .5
}

footer .bg-foot-last a {
    color: #fff;
    text-decoration: none;
    display: block;
    -webkit-transition: opacity .2s ease-in-out;
    transition: opacity .2s ease-in-out
}

footer .bg-foot-last a:hover {
    opacity: .5;
    -webkit-transition: opacity .2s ease-in-out;
    transition: opacity .2s ease-in-out
}

footer .bg-foot-first {
    text-align: center
}

footer .bg-foot-first a {
    text-decoration: none;
    padding: 0 10px;
    color: #ccd1d4;
    -webkit-transition: opacity .2s ease-in-out;
    transition: opacity .2s ease-in-out
}

footer .bg-foot-first a:hover {
    opacity: .5;
    -webkit-transition: opacity .2s ease-in-out;
    transition: opacity .2s ease-in-out
}

footer .copy {
    text-align: left;
    font-weight: 200;
    font-size: 14px;
    float: left;
    margin-right: 10px
}

.confidential {
    text-align: right
}

.confidential a {
    display: inline-block !important;
    margin-left: 12px;
    font-size: 14px;
    -webkit-transition: opacity .2s ease-in-out;
    transition: opacity .2s ease-in-out
}

.confidential a:hover {
    opacity: .4;
    -webkit-transition: opacity .2s ease-in-out;
    transition: opacity .2s ease-in-out
}

footer .nw {
    float: left;
    margin: -2px 2px 0 5px
}

footer .fb {
    background: url(../img/nw-w-01.svg);
    width: 20px;
    height: 20px;
    display: block
}

footer .vk {
    background: url(../img/nw-w-02.svg);
    width: 20px;
    height: 20px;
    display: block
}

li.first {
    display: none;
}

/* ----------------------- */
.roll-network {
    position: fixed;
    right: 15px;
    bottom: 15px;
    z-index: 9999;
}

.roll-network .block-roll {
    position: relative;
}

.roll-network .block-roll.open-is .block-roll-network {
    overflow: visible;
    height: 300px;
    transition: all 0.3s ease-in-out;
    opacity: 1;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 10px 0;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, .1) !important;
    z-index: 3;
}

.roll-network .block-roll .ico-roll-network::after {
    content: "";
    background-image: url(../img/network/mess-01.svg);
    width: 32px;
    height: 32px;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -16px;
    margin-left: -16px;
}

.roll-network .block-roll.open-is .ico-roll-network::after {
    content: "+";
    background-image: none;
    text-align: center;
    font-size: 42px;
    font-weight: 100;
    transform: rotate(45deg);
    color: #fff;
    line-height: 32px;
}

.roll-network .block-roll .block-roll-network {
    height: 0px;
    overflow: hidden;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    right: 0;
    width: 215px;
    bottom: 80px;
}

.roll-network .block-roll.open-is .block-roll-network::after {
    content: "" !important;
    position: absolute !important;
    width: 0 !important;
    height: 0 !important;
    bottom: -12px !important;
    border-left: 12px solid transparent !important;
    border-right: 12px solid transparent !important;
    border-top-width: 12px;
    border-top-style: solid !important;
    z-index: 0 !important;
    border-color: #fff;
    right: 16px;
}

.roll-network .block-roll.open-is .message-list {
    display: none;
}

.roll-network .block-roll .ico-roll-network {
    background-color: #688BE1;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, .1) !important;
}

.roll-network .block-roll .block-roll-network {
    position: absolute;
    bottom: 80px;
}

.roll-network .block-roll .block-roll-network .item {
    position: relative;
    padding: 5px 15px;
}

.roll-network .block-roll .block-roll-network .item:hover {
    background-color: #f1f2f7;
}

.roll-network .block-roll .block-roll-network a {
    position: relative;
    cursor: pointer;
    display: block;
    transition: all 0.3s ease-in-out;
    padding-left: 40px;
    height: 30px;
    line-height: 32px;
    text-decoration: none;
    font-size: 14px;
    color: #425660;
}

.roll-network .block-roll .block-roll-network a:hover {
    opacity: 0.6;
    transition: all 0.3s ease-in-out;
}

.roll-network .block-roll .block-roll-network a.chat-teleg-icon::after {
    content: "";
    background-image: url(../img/network/teleg.svg);
    background-color: #27A3E3;

    background-size: 16px 16px;
    background-position: 45% 50%;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    display: block;
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 0;
    margin-top: -15px;
}

.roll-network .block-roll .block-roll-network a.chat-viber-icon::after {
    content: "";
    background-image: url(../img/network/viber.svg);
    background-color: #8B66A9;
    background-size: 20px 20px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    display: block;
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 0;
    margin-top: -15px;
}

.roll-network .block-roll .block-roll-network a.chat-phone-icon::after {
    content: "";
    background-image: url(../img/network/phone.svg);
    background-color: #364952;
    background-size: 16px 16px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    display: block;
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 0;
    margin-top: -15px;
}

.roll-network .block-roll .block-roll-network a.chat-whats-icon::after {
    content: "";
    background-image: url(../img/network/whatsapp.svg);
    background-color: #25CC62;
    background-size: 16px 16px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    display: block;
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 0;
    margin-top: -15px;
}

.roll-network .block-roll .block-roll-network a.chat-vk-icon::after {
    content: "";
    background-image: url(../img/network/vk.svg);
    background-color: #4E7DB2;
    background-size: 16px 16px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    display: block;
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 0;
    margin-top: -15px;
}

.roll-network .block-roll .block-roll-network a.chat-fb-icon::after {
    content: "";
    background-image: url(../img/network/fb.svg);
    background-color: #4867AA;
    background-size: 16px 16px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    display: block;
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 0;
    margin-top: -15px;
}

.roll-network .block-roll .block-roll-network a.chat-chat-icon::after {
    content: "";
    background-image: url(../img/network/chat.svg);
    background-color: #800c7a;
    background-size: 16px 16px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    display: block;
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 0;
    margin-top: -15px;
}

.roll-network .message-list {
    position: absolute;
    bottom: 80px;
    right: 0px;
    width: 130px;
    transition: all 0.3s ease-in-out;
    opacity: 1;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, .1) !important;
    text-decoration: none;
    font-size: 14px;
    color: #425660;
    text-align: center;
    z-index: 1;
    transition: all 0.3s ease-in-out;
}

.roll-network .message-list:hover {
    color: #6695E2;
    transition: all 0.3s ease-in-out;
}

.roll-network .message-list::after {
    content: "" !important;
    position: absolute !important;
    width: 0 !important;
    height: 0 !important;
    bottom: -12px !important;
    border-left: 12px solid transparent !important;
    border-right: 12px solid transparent !important;
    border-top-width: 12px;
    border-top-style: solid !important;
    z-index: 0 !important;
    border-color: #fff;
    right: 16px;
}

/* ----------------------- ----------------------- ----------------------- */

@media (min-width: 1110px) {

    #index.section.active .vec-se1 {
        animation: 0.3s linear 1s both topTop;
    }


    #index.section.active .vec-se2 {
        animation: 0.3s linear 1s both bottomTop;
    }

    #index .intro .wrapper .row::after {
        transform: scale(0);
    }

    #index.section.active .intro .wrapper .row::after {
        transform: scale(1);
        animation: 0.3s linear 1s both scale;
    }

    #index .row .col-6:first-child {
        transform: translateX(-1000px);
    }

    #index.section.active .row .col-6:first-child {
        transform: translateX(0);
        animation: 0.2s linear 1s both leftTop;
    }

    #index .row .col-6:last-child {
        transform: translateX(3000px);
    }

    #index.section.active .row .col-6:last-child {
        transform: translateX(0);
        animation: 0.2s linear 1s both rightTop;
    }

    #about-program .col-6:first-child {
        transform: translateX(-100%);
        transition: all 1s linear;
    }

    #about-program.active .col-6:first-child {
        transform: translateX(0);
        transition: all .3s linear;
    }

    #about-program.active .col-6:last-child {
        transform: translateY(0);
        transition: all .3s linear;
    }

    #about-program .col-6:last-child {
        transform: translateY(200%);
        transition: all 1s linear;
    }

    #how-to-earn .col-6:first-child {
        transform: translateY(200%);
        transition: all 1s linear;
    }

    #how-to-earn.active .col-6:first-child {
        transform: translateY(0);
        transition: all .3s linear;
    }

    #how-to-earn .col-6:last-child {
        transform: translateY(-100%);
        transition: all 1s linear;
    }

    #how-to-earn.active .col-6:last-child {
        transform: translateX(0);
        transition: all .3s linear;
    }



    #how-much-pay .col-6:first-child {
        transform: translateY(-100%);
        transition: all 1s linear;
    }

    #how-much-pay.active .col-6:first-child {
        transform: translateY(0);
        transition: all .3s linear;
    }

    #how-much-pay .col-6:last-child {
        transform: translateY(200%);
        transition: all 1s linear;
    }

    #how-much-pay.active .col-6:last-child {
        transform: translateX(0);
        transition: all .3s linear;
    }

    #how-to-become-partner .intro .col-6:first-child {
        transform: translateX(-100%);
        transition: all 1s linear;
    }

    #how-to-become-partner.active .intro .col-6:first-child {
        transform: translateX(0);
        transition: all .3s linear;
    }

    #how-to-become-partner .intro .col-6:last-child {
        transform: translateY(-100%);
        transition: all 1s linear;
    }

    #how-to-become-partner.active .intro .col-6:last-child {
        transform: translateX(0);
        transition: all .3s linear;
    }


    #how-to-earn .intro:after {
        transform: translate(-100%, 200%);
        transition: all .5s linear;
    }

    #how-to-earn.active .intro:after {
        transform: translate(0, 0);
        transition: all .5s linear;
    }

}

@-webkit-keyframes topTop {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}

@-webkit-keyframes bottomTop {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0);
    }
}

@-webkit-keyframes leftTop {
    0% {
        transform: translateX(-1000px);
    }

    100% {
        transform: translateX(0);
    }
}


@-webkit-keyframes rightTop {
    0% {
        transform: translateX(3000px);
    }

    100% {
        transform: translateX(0);
    }
}

@-webkit-keyframes scale {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@media (max-width: 1460px) {
    .menu-head ul li a {
        padding: 15.5px 10px;
        font-size: 16px;
    }

    header .project-title span {
        font-size: 16px;
    }

    header .project-title .click-project {
        padding: 15.5px 10px;
    }

    .vec-se1 {
        top: -130px;
    }

    .vec-se2 {
        bottom: -130px;
    }

    #how-to-earn .item-bg {
        padding: 30px 30px 30px 30px;
    }

    header .project-title {
        margin-right: 10px;
    }
}

@media (max-width: 1360px) {
    #how-to-earn .intro:after {
        display: none;
    }
}

@media (max-width: 1280px) {
    .menu-head {
        position: fixed;
        background-color: #3B4F58;
        top: 0;
        left: -200%;
        width: 50%;
        height: 100%;
        z-index: 10;
        padding: 30px;
        transition: all .3s linear;
    }

    .menu-head ul li::after {
        content: "";
        height: 3px;
        background-color: #27C58B;
        bottom: 0px;
    }

    .close {
        cursor: pointer;
        position: absolute;
        right: 15px;
        top: 10px;
        transform: rotate(45deg);
        z-index: 44;
    }

    .close:after {
        content: "+";
        color: #ffffff;
        font-size: 55px;
        position: relative;
        font-weight: 300;
    }

    .menu-head.active {
        left: 0;
        transition: all .3s linear;
    }

    .menu-head ul li {
        float: none;
        border: none;
    }

    .menu-head ul li a {
        color: #ffffff;
        font-size: 18px;
        font-weight: 400;
    }

    .burger {
        float: left;
        margin-left: 10px;
        padding: 15.5px 0;
    }

    .burger::after {
        content: "";
        display: block;
        background-image: url(../img/menu-burger.svg);
        width: 35px;
        height: 19px;
        cursor: pointer;
    }
}

@media (max-width: 1220px) {
    .wrapper {
        width: 95%;
        margin: 0 auto;
    }

    #about-program .intro img,
    #how-to-earn .intro img {
        width: 100%;
    }

    #about-program .intro img {
        margin-top: 50px !important
    }

    #about-program::after {
        width: 50%;
    }

    #about-program::before,
    #how-to-earn::before,
    #how-to-become-partner::before {
        opacity: .4;
    }

    .section {
        overflow-y: scroll;
    }
}

@media (max-width: 1000px) {
    .col-bonus {
        margin-left: 0;
    }

    .sect-nav {
        display: none;
    }

    #about-program h2 {
        margin: 0 auto 10px auto;
    }

    #about-program p {
        margin: 25px auto;
    }

    .section {
        position: relative;
        opacity: 1;
        overflow: visible;
    }

    .col-6 {
        -ms-flex: 0 0 100%;
        -webkit-box-flex: 0;
        flex: 0 0 100%;
        max-width: 100%;
        position: relative;
        width: 100%;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }

    #about-program::after {
        display: none;
    }

    .vec-se2,
    .vec-se1 {
        display: none;
    }

    #index .intro .col-6,
    #about-program .intro .col-6 {
        text-align: center;
    }

    #about-program img,
    #how-to-earn img,
    #how-to-become-partner img {
        width: 50%;
        margin: 0 auto;
        display: block;
    }

    #how-to-become-partner img {
        margin-bottom: 30px;
    }

    #index .row img {
        width: 70%;
        margin: 0 auto;
        display: block;
        position: relative;
        left: -10px;
    }

    #index .intro .wrapper .row::after {
        content: "";
        display: block;
        position: absolute;
        background-image: url(../img/map.svg);
        width: 500px;
        height: 297.44px;
        top: -51px;
        left: 50%;
        z-index: 1;
        margin-left: -250px;
        background-size: contain;
    }

    footer {
        position: static;
        margin-top: 25px;
    }

    section .intro {
        padding: 50px 0;
    }

    .btn.green {
        font-size: 14px;
    }

    #about-program .intro img,
    #how-to-earn .intro img,
    #bg-foot-last .intro img {
        width: 65%;
    }

    #how-to-earn {
        height: 990px;
    }

    #how-much-pay img {
        display: none;
    }

    #how-much-pay {
        height: 1300px;
    }

    #how-much-pay .tolp {
        padding-left: 0;
    }

    .withdraw {
        margin-left: 0;
    }

    .withdraw img {
        display: block !important;
    }
}

@media (max-width: 800px) {
    .section {
        position: relative;
        top: inherit;
        left: inherit;
        opacity: 1;
    }

    h2 {
        font-size: 36px !important;
        line-height: 42px !important;
    }

    p {
        font-size: 18px !important;
        line-height: 22px !important;
    }

    #how-much-pay table {
        font-size: 16px !important;
        line-height: 20px !important;
    }

    #how-to-earn .item-bg .item span {
        font-size: 18px;
        line-height: 110%;
    }

    #how-much-pay img {
        display: none;
    }

    #how-much-pay .tolp {
        font-size: 16px !important;
        line-height: 20px !important;
        padding-left: 0;
        margin-top: 25px;
    }

    header .logo {
        overflow: hidden;
        width: 52px;
    }

    #about-program::before,
    #how-to-earn::before,
    #bg-foot-last::before,
    #how-to-become-partner::before {
        opacity: 0;
    }

    .intro {
        padding: 0px 0;
    }

    .roll-network .message-list {
        display: none;
    }
}


@media (max-width: 630px) {
    #how-to-earn {
        height: 870px;
    }

    .menu-head {
        width: 100%;
    }

    header .login.btn {
        padding: 10.5px 10px;
    }

    header .login.btn span {
        display: none;
    }

    header .login.btn::after {
        content: "";
        background: url(../img/user.svg);
        height: 17px;
        width: 15px;
        display: block;
    }

    #how-to-earn p,
    #how-much-pay p {
        margin: 15px 0;
    }

    #how-much-pay table {
        margin-top: 15px;
    }

    #bg-foot-last .btn.green {
        white-space: initial;
        line-height: 20px;
    }

    .contact-head a.phone {
        font-size: 16px;
    }

    .contact-head {
        margin: 6px 10px 6px 0;
    }

    footer .nw {
        float: none;
        display: inline-block;
    }

    footer .copy {
        width: 100%;
        text-align: center;
        float: none;
        padding-bottom: 20px;
    }

    footer .col-6 {
        -ms-flex: 0 0 100%;
        -webkit-box-flex: 0;
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 0;
        text-align: center;
    }

    footer .bg-foot-first a,
    footer .bg-foot-last a {
        display: block;
        margin: 5px 0;
    }

    .confidential {
        margin-top: 20px;
        text-align: center;
    }

    .click-project::before {
        content: "";
        background-image: url(../img/nav-project.svg);
        width: 24px;
        height: 21px;
        display: block;
        float: left;
    }

    header .project-title span {
        display: none;
    }

    header .project-title span.ico-down-arr {
        display: block;
    }
}

@media (max-width: 480px) {
    .burger {
        display: none;
    }

    .project-bar::before {
        left: 125px;
    }

    .project-bar {
        width: 325px;
        left: -100px;
    }

    h2 {
        font-size: 26px !important;
        line-height: 30px !important;
    }

    p {
        font-size: 14px !important;
        line-height: 18px !important;
    }

    #how-to-become-partner ul li,
    #how-much-pay table,
    #how-much-pay .tolp {
        font-size: 14px !important;
        line-height: 18px !important;
    }

    #about-program .intro img,
    #how-to-earn .intro .col-6:first-child img,
    #bg-foot-last .intro img,
    #how-to-become-partner img {
        display: none;
    }

    #how-to-earn .item-bg {
        padding: 30px 30px 30px 30px;
    }

    #how-to-earn {
        height: 700px;
    }

    #how-much-pay {
        height: 1310px;
    }

    .section#how-to-become-partner {
        height: auto;
    }

    #how-to-become-partner .fp-table {
        display: block;
    }

    #how-to-become-partner.section .intro {
        padding: 50px 0;
    }

    .contact-head {
        margin: 9px 10px 9px 0;
    }

    .contact-head a.phone {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    #how-much-pay {
        height: 1390px;
    }
}