@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    src: url('../fonts/roboto-v20-latin_cyrillic-100.eot');
    /* IE9 Compat Modes */
    src: local('Roboto Thin'), local('Roboto-Thin'), url('../fonts/roboto-v20-latin_cyrillic-100.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/roboto-v20-latin_cyrillic-100.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/roboto-v20-latin_cyrillic-100.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/roboto-v20-latin_cyrillic-100.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/roboto-v20-latin_cyrillic-100.svg#Roboto') format('svg');
    /* Legacy iOS */
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/roboto-v20-latin_cyrillic-300.eot');
    /* IE9 Compat Modes */
    src: local('Roboto Light'), local('Roboto-Light'), url('../fonts/roboto-v20-latin_cyrillic-300.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/roboto-v20-latin_cyrillic-300.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/roboto-v20-latin_cyrillic-300.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/roboto-v20-latin_cyrillic-300.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/roboto-v20-latin_cyrillic-300.svg#Roboto') format('svg');
    /* Legacy iOS */
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v20-latin_cyrillic-regular.eot');
    /* IE9 Compat Modes */
    src: local('Roboto'), local('Roboto-Regular'), url('../fonts/roboto-v20-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/roboto-v20-latin_cyrillic-regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/roboto-v20-latin_cyrillic-regular.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/roboto-v20-latin_cyrillic-regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/roboto-v20-latin_cyrillic-regular.svg#Roboto') format('svg');
    /* Legacy iOS */
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/roboto-v20-latin_cyrillic-500.eot');
    /* IE9 Compat Modes */
    src: local('Roboto Medium'), local('Roboto-Medium'), url('../fonts/roboto-v20-latin_cyrillic-500.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/roboto-v20-latin_cyrillic-500.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/roboto-v20-latin_cyrillic-500.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/roboto-v20-latin_cyrillic-500.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/roboto-v20-latin_cyrillic-500.svg#Roboto') format('svg');
    /* Legacy iOS */
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/roboto-v20-latin_cyrillic-700.eot');
    /* IE9 Compat Modes */
    src: local('Roboto Bold'), local('Roboto-Bold'), url('../fonts/roboto-v20-latin_cyrillic-700.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/roboto-v20-latin_cyrillic-700.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/roboto-v20-latin_cyrillic-700.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/roboto-v20-latin_cyrillic-700.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/roboto-v20-latin_cyrillic-700.svg#Roboto') format('svg');
    /* Legacy iOS */
}

*,
::after,
::before {
    box-sizing: border-box
}

* {
    border: none;
    margin: 0;
    padding: 0;
    outline: 0;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

::-webkit-input-placeholder {
    color: #b3b3b3;
    opacity: 1;
}

:-ms-input-placeholder {
    color: #b3b3b3;
    opacity: 1;
}

::-ms-input-placeholder {
    color: #b3b3b3;
    opacity: 1;
}

::placeholder {
    color: #b3b3b3;
    opacity: 1;
}

.header:after,
.row:after,
.col:after,
.click-project:after,
header .wrapper::after {
    content: '';
    display: block;
    clear: both;
}

html {
    -webkit-text-size-adjust: 100%;
}

body {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    background: #F5F5F5;
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
    display: block
}

a {
    color: #6695e2;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

.row {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col-6 {
    -ms-flex: 0 0 50%;
    -webkit-box-flex: 0;
    flex: 0 0 50%;
    max-width: 50%;
}

.col-2 {
    -ms-flex: 0 0 25%;
    -webkit-box-flex: 0;
    flex: 0 0 25%;
    max-width: 25%;
}

.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-20,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-20,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

header {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 900;
}

h2 {
    font-size: 48px;
    line-height: 50px;
    font-weight: 300;
}

.container {
    width: 100%;
    max-width: 1140px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    line-height: 1.2 !important;
}

/* header */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 0;
    background: #ffffff;
    z-index: 100;
}

header .wrapper {
    width: 100%;
    padding: 0 15px;
}

header .logo {
    float: left;
    padding-right: 20px;
    border-right: 1px solid #CCCCCC;
}

header .logo a {
    display: block;
    background-image: url(../img/logo.svg);
    height: 50px;
    width: 141px;
}

header .project-title {
    float: left;
    position: relative;
}

header .project-title span {
    float: left;
    font-size: 18px;
    font-weight: 300;
    color: #455A64;
}

.ico-down-arr {
    margin-left: 10px;
}

.ico-down-arr:after {
    content: '';
    background: url(../img/arr-ico-tow.svg) no-repeat;
    display: inline-block;
    width: 14px;
    height: 8px;
    -webkit-transition: .4s ease-in-out;
    transition: .4s ease-in-out;
    position: relative;
    top: -2px;
}

header .project-title .click-project {
    cursor: pointer;
    padding: 13px 20px;
    -webkit-transition: opacity .3s ease-out .1s;
    transition: opacity .3s ease-out .1s;
}

.project-bar {
    height: 0;
    opacity: 0;
    background: #273238;
    position: absolute;
    top: 100%;
    left: 0;
    width: 400px;
    margin-top: 10px;
    -webkit-transition: height .4s ease-out .1s, opacity .2s ease-out .1s;
    transition: height .4s ease-out .1s, opacity .2s ease-out .1s;
    z-index: 99;
}

.project-bar::before {
    position: absolute;
    top: -19px;
    left: 25px;
    content: '';
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-bottom: 10px solid #273238;
    display: block;
}

.project-bar ul {
    list-style: none;
    height: 0;
    text-align: left;
    overflow: hidden;
}

.project-bar ul li a {
    position: relative;
    display: block;
    padding: 15px 15px;
    text-decoration: none;
}

.project-bar ul li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 15px;
    display: block;
    width: calc(100% - 30px);
    margin: 0 auto;
    border-bottom: 1px solid #364952;
}

.project-bar ul li:last-child a::after {
    border: none;
}

.project-bar ul li a:hover span,
.project-bar ul li.active span {
    opacity: .4;
}

.project-bar ul li a img {
    display: inline-block;
    height: 16px;
    margin-right: 10px;
}

.project-bar ul li a span {
    display: inline-block;
    float: none;
    color: #fff;
}

.menu-head {
    float: left;
}

.menu-head ul li {
    border-left: 1px solid #CCCCCC;
    list-style: none;
    float: left;
}

.menu-head ul li a {
    opacity: 1;
    display: block;
    font-size: 18px;
    padding: 13px 20px;
    font-weight: 300;
    color: #455A64;
    text-decoration: none;
    -webkit-transition: opacity .3s ease-out .1s;
    transition: opacity .3s ease-out .1s;
}

.contact-head {
    float: right;
    margin: 6px 20px 6px 0;
}

.red {
    color: #e26666
}

.blue {
    color: #6695e2
}

.green {
    color: #27c58b;
}


header .menu-burger {
    display: none;
    float: right;
    cursor: pointer;
    padding: 13px 0;
    height: 23.25px;
    width: 27px;
    margin-left: 20px;
}

header .menu-burger::after {
    content: "";
    background-image: url(../img/ico-menu.svg);
    display: block;
    height: 23.25px;
    width: 27px
}

.nav-menu.active {
    right: 0;
    -webkit-transition: .2s;
    transition: .2s;
    z-index: 20;
    -webkit-transition: all .8s ease-in-out;
    -moz-transition: all .8s ease-in-out;
    -o-transition: all .8s ease-in-out;
    transition: all .8s ease-in-out
}

.nav-menu {
    position: fixed;
    background: #364952;
    height: 100%;
    width: 50%;
    z-index: 20;
    right: -4500px;
    top: 0;
    -webkit-transition: all .8s ease-in-out;
    -moz-transition: all .8s ease-in-out;
    -o-transition: all .8s ease-in-out;
    transition: all .8s ease-in-out;
    -webkit-box-shadow: 0px 0px 90px 20px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 90px 20px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 90px 20px rgba(0, 0, 0, 0.75);
}

.nav-menu .close {
    position: absolute;
    right: 20px;
    top: 100px;
    z-index: 5;
    transform: rotate(45deg);
    cursor: pointer;
    text-decoration: none;
}

.nav-menu .close::after {
    content: "+";
    color: #ffffff;
    font-size: 60px;
    font-weight: 100;
    line-height: 0px;
    transform: rotate(90deg);
}

.nav-menu nav {
    padding-top: 70px;
}

.nav-menu nav ul {
    list-style: none;
    padding: 30px;
}

.nav-menu nav ul li a {
    color: #ffffff;
    font-size: 22px;
    padding-bottom: 15px;
    display: block;
    text-decoration: none;
    font-weight: 300;
}

header .login.btn {
    background: #6695E2;
    color: #ffffff;
    float: right;
    /* margin: 7px 20px 7px 0; */
    margin: 7px 0px 7px 0;
    -webkit-transition: background-color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out;
    padding: 10.5px 30px;
    text-transform: initial;
    font-size: 14px;
}

header .login.btn:hover {
    background-color: #057BAA;
    -webkit-transition: background-color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out;
}

.contact-head a.mail {
    color: #808080;
    font-size: 12px;
    display: block;
    text-align: left;
    font-weight: 300;
    text-decoration: none;
    margin-bottom: 2px;
}

.contact-head a.phone {
    text-decoration: none;
    color: #364952;
    font-size: 20px;
    display: block;
    text-align: left;
    font-weight: 300;
}

.project-title.is-open .project-bar {
    height: 250px;
    -webkit-transition: height .2s ease-out .1s, opacity .4s ease-out .1s;
    transition: height .2s ease-out .1s, opacity .4s ease-out .1s;
    opacity: 1;
}

.project-title.is-open .project-bar ul {
    height: 250px;
}

.project-title.is-open .ico-down-arr:after {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transition: .4s ease-in-out;
    transition: .4s ease-in-out;
}

.top {
    text-align: center;
    background: #F5F5F5;
    margin-top: 72px;
}

section {
    padding: 60px 0;
}

.top h1 {
    font-size: 48px;
    color: #455A64;
    margin-top: 0;
    line-height: 48px;
    font-weight: 300;
}

.text-center {
    text-align: center;
}

.stattrtaff .subtitle {
    font-size: 24px;
    font-weight: 300;
    width: 60%;
    margin: 0 auto;
    padding-top: 20px;
    color: #455A64;
}

.stattrtaff .btn {
    font-size: 16px;
    display: inline-block;
    font-weight: 300;
    padding: 17.5px 40px;
    margin: 25px 0 0px 0;
    -webkit-transition: background-color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out;
}

.stattrtaff .btn:hover {
    background-color: #199f6e;
    -webkit-transition: background-color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out;
}

section.statistics {
    background: #ffffff;
}

.widget-container {
    display: block;
    border-radius: 3px;
    border: 1px solid #ddd;
    padding: 25px;
    margin: 0 0 0 0;
    color: #4f5a7c;
    font-size: 14px;
}

.col-headerTable {
    display: table;
    width: 100%;
}

.col-headerTable.tabl004 .col-td:first-child {
    width: calc(100% - 100px);
}

.col-headerTable.tabl004 .col-td:last-child {
    width: 100px;
}

.col-headerTable .col-td {
    display: table-cell;
    vertical-align: middle;
    padding-right: 15px;
    padding-left: 15px;
}

.widget-title,
.date {
    font-size: 24px;
    color: #060606;
    text-align: left;
}

.date {
    cursor: pointer;
    position: relative;
    margin-left: 10px;
}

.date::before {
    left: 0;
    bottom: -2px;
    position: absolute;
    content: '';
    border-bottom: 2px dotted;
    display: block;
    width: 100%;
}

.date:hover {
    opacity: .7;
}

.title-w2:last-child {
    float: right;
}

.radio-buttons-wrapper {
    clear: both;
    display: inline;
    font-size: 12px;
    margin-left: 0;
}

[type=checkbox],
[type=radio] {
    position: absolute;
    left: -9999px;
    visibility: hidden;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}

.radio-button:checked+label {
    background-color: #6695e2 !important;
    color: #fff;
}

.radio-buttons-wrapper [type=radio]+label {
    position: relative;
    padding: 3px 12px;
    cursor: pointer;
    display: inline-block;
    height: auto;
    line-height: 25px;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 0;
}

.radio-buttons-wrapper [type=radio]+label i {
    background-position: -10px 0;
}

.radio-button:checked+label i {
    background-position: 0 0 !important;
}

.radio-button+label:first-of-type {
    border-radius: 5px 0 0 5px;
}

.radio-button+label:last-of-type {
    border-radius: 0 5px 5px 0;
}

.radio-button+label {
    float: left;
    padding: 5px 10px;
    cursor: pointer;
    border: 0;
    margin-right: -1px;
    color: #757575;
    background-color: #f5f5f5;
}

.ico-e6 {
    background-image: url(../img/6e.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
    display: inline-block;
    width: 10px;
    height: 10px;
}

.mt-2 {
    margin-top: 25px;
}

table {
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
}

table tr td,
table tr th {
    text-align: left;
    border-right: none;
    border-bottom: 1px solid #dddddd;
    padding: 10px 5px;
}

table thead th {
    padding: 5px;
    text-align: left;
    font-weight: 700;
    color: #4f5a7c;
    vertical-align: middle;
    cursor: pointer;
}

.rotate-block {
    display: none;
}

table tr td.k::after {
    content: "К";
}

table tr td.pr::after {
    content: "%";
}

table tr td:nth-child(1),
table tr th:nth-child(1) {
    /* width: 130px;*/
    width: initial;
}

table tr td:nth-child(2),
table tr th:nth-child(2) {
    width: 160px !important;
}

tr:hover {
    background: #f5f5f5;
}

div.lable label {
    display: block;
    float: left;
    margin-right: 10px;
}

label.favicon img {
    width: 16px;
    height: 16px;
}

.text-labl {
    line-height: 19px !important;
    padding-top: 0;
}

.widget-container .pagination {
    margin: 15px 0 0;
}

.pagination {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    padding-left: 0;
    list-style: none;
    margin: 15px 0;
}

.btn-prof {
    border-radius: 5px;
    padding: 7px 30px;
    text-transform: initial;
    font-size: 14px;
    border: none;
    font-family: Roboto, sans-serif;
    cursor: pointer;
    font-weight: 400;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -moz-user-select: none;
    -ms-user-select: none;
    line-height: 1.5;
    -webkit-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
}

.btn-gray:hover {
    background: #ccc;
}

.btn {
    border-radius: 4px;
    padding: 10.5px 30px;
    text-transform: initial;
    font-size: 14px;
    border: none;
    font-family: Roboto, sans-serif;
    cursor: pointer;
    font-weight: 300;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -moz-user-select: none;
    -ms-user-select: none;
    line-height: 14px;
    background: #27C58B;
    color: #ffffff;
    -webkit-transition: background-color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out;
}

.load-result {
    margin-left: 15px;
}

.ico-down:after {
    content: '';
    background: url(../img/caret-down.svg) no-repeat;
    display: inline-block;
    width: 8px;
    height: 8px;
    top: 0;
    position: relative;
}

.ico-up:after {
    content: '';
    background: url(../img/caret-down.svg) no-repeat;
    display: inline-block;
    width: 8px;
    height: 8px;
    -webkit-transform: scale(1, -1);
    transform: scale(1, -1);
    top: -2px;
    position: relative;
}

.project {
    padding: 60px 0;
    background-color: #ffffff;
}

section.project .btn:hover {
    background-color: #199f6e;
    color: #ffffff;
    -webkit-transition: background-color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out;
}

.project .container {
    width: 90%;
    max-width: initial;
}

.project h2 {
    text-align: center;
    padding-bottom: 60px;
    color: #455A64;
}

.project .item {
    text-align: center;
    width: 95%;
    margin: 0 auto;
    padding: 25px 15px;
    background: #F5F5F5;
    border-radius: 4px;
    min-height: 100%;
}

.project .item .disabled,
.project .item .disabled:hover {
    background-color: #cccccc;
    cursor: default;
}

.project .item img {
    height: 75px;
}

.project .item h3 {
    font-size: 24px;
    font-weight: 400;
    color: #4D4D4D;
    margin: 20px 0;
}

.project .item p {
    font-size: 16px;
    font-weight: 300;
    color: #4D4D4D;
    margin-bottom: 20px;
}

.partner {
    background: rgb(69, 90, 100);
    background: -moz-linear-gradient(90deg, rgba(69, 90, 100, 1) 0%, rgba(5, 123, 170, 1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(69, 90, 100, 1) 0%, rgba(5, 123, 170, 1) 100%);
    background: linear-gradient(90deg, rgba(69, 90, 100, 1) 0%, rgba(5, 123, 170, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#455a64", endColorstr="#057baa", GradientType=1);
    text-align: center;
    height: 294px;
    background-position: 50% 50%;
    width: 100%;
    padding: 60px 0;
}

.partner .btn {
    font-size: 16px;
    display: inline-block;
    font-weight: 300;
    padding: 17.5px 60px;
    margin: 25px 0 0px 0;
    -webkit-transition: background-color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out;
}

.partner .btn:hover {
    background-color: #199f6e;
    -webkit-transition: background-color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out;
}

.partner .wrapper {
    height: 100%;
}

section.partner .table {
    display: table;
    width: 100%;
    height: 100%;
}

section.partner .tableCell {
    display: table-cell;
    height: 174px;
    vertical-align: middle;
}

.partner h2 {
    color: #ffffff;
    margin-bottom: 20px;
}

.partner p {
    color: #ffffff;
    font-weight: 300;
    line-height: 30px;
    font-size: 20px;
}

.partner p a {
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: #ffffff;
}

.partner p a::after {
    position: absolute;
    bottom: 4px;
    content: "";
    height: 1px;
    background-color: #ffffff;
    display: block;
    width: 100%;
}

.partner p a:hover::after {
    display: none;
}

/* Footer */

footer {
    margin-top: 0;
    padding: 25px 0 0 0;
    background: rgb(54, 73, 82);
    background: -moz-linear-gradient(90deg, rgba(54, 73, 82, 1) 0%, rgba(69, 90, 100, 1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(54, 73, 82, 1) 0%, rgba(69, 90, 100, 1) 100%);
    background: linear-gradient(90deg, rgba(54, 73, 82, 1) 0%, rgba(69, 90, 100, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#364952", endColorstr="#455a64", GradientType=1);
}

footer .bg-foot-last {
    margin-top: 25px;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.25);
    padding: 15px 0;
    opacity: 0.5;
}

footer .bg-foot-last a {
    color: #ffffff;
    text-decoration: none;
    display: block;
    -webkit-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
}

footer .bg-foot-last a:hover {
    opacity: .5;
    -webkit-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
}

footer .bg-foot-first {
    text-align: center;
}

footer .bg-foot-first a {
    text-decoration: none;
    padding: 0 10px;
    color: #ccd1d4;
    -webkit-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
}

footer .bg-foot-first a:hover {
    opacity: .5;
    -webkit-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
}

footer .copy {
    text-align: left;
    font-weight: 200;
    font-size: 14px;
    float: left;
    margin-right: 10px;
}

footer .nw {
    float: left;
    margin: -2px 2px 0 5px;
}

footer .fb {
    background: url(../img/nw-w-01.svg);
    width: 20px;
    height: 20px;
    display: block;
}

footer .vk {
    background: url(../img/nw-w-02.svg);
    width: 20px;
    height: 20px;
    display: block;
}

.confidential {
    text-align: right;
}

.confidential a {
    display: inline-block !important;
    margin-left: 12px;
    font-size: 14px;
    -webkit-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
}

.confidential a:hover {
    opacity: .4;
    -webkit-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
}

.subtitle-fg {
    font-size: 20px;
    line-height: 24px;
    font-weight: 300;
    color: #4D4D4D;
    width: 100%;
    border-top: 1px solid #364952;
    margin-top: 22px;
    padding-top: 20px;
}

.align-items-center {
    -ms-flex-align: center !important;
    -webkit-box-align: center !important;
    align-items: center !important;
}

.ico-stat-09,
.ico-stat-03,
.ico-stat-02,
.ico-stat-01 {
    width: 15px;
    height: 10px;
    position: relative;
    display: inline-block;
    margin-right: 3px;
}

.ico-stat-09:after {
    content: '';
    background: url(../img/ico-trafic-09-s.svg);
    display: inline-block;
    width: 15px;
    height: 15px;
    position: absolute;
    top: -3px;
    left: 0;
}

.ico-stat-03:after {
    content: '';
    background: url(../img/ico-trafic-03-s.svg);
    display: inline-block;
    width: 15px;
    height: 15px;
    position: absolute;
    top: -3px;
    left: 0;
}

.ico-stat-02:after {
    content: '';
    background: url(../img/ico-trafic-02-s.svg);
    display: inline-block;
    width: 15px;
    height: 15px;
    position: absolute;
    top: -3px;
    left: 0;
}

.ico-stat-01:after {
    content: '';
    background: url(../img/ico-trafic-01-s.svg);
    display: inline-block;
    width: 15px;
    height: 15px;
    position: absolute;
    top: -3px;
    left: 0;

}

/* Contact */

section.contact {
    position: relative;
    padding: 0;
}

[class*="ymaps-2"][class*="-ground-pane"] {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

section.contact #map {
    width: 100%;
    height: 500px;
}

section.contact .block-contact {
    position: absolute;
    width: 400px;
    top: 50px;
    left: 18.5%;
    background: #ffffff;
    border-radius: 4px;
    padding: 25px;
    z-index: 9;
    -webkit-box-shadow: 5px 5px 26px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 5px 5px 26px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 5px 5px 26px 0px rgba(0, 0, 0, 0.15);
}

section.contact .item {
    margin-bottom: 20px;
    color: #425660;
}

section.contact p {
    font-size: 16px;
    line-height: 22px;
    font-weight: 300;
}

section.contact a {
    color: #6695E2;
    text-decoration: none;
    -webkit-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
}

section.contact a:hover {
    opacity: .6;
    -webkit-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
}

section.contact h2 {
    color: #425660;
    margin-bottom: 20px;
}

section.contact .item h4 {
    font-size: 22px;
    margin-bottom: 10px;
    font-weight: 400;
}

section.contact .item:last-child {
    margin-bottom: 0;
}

/* ----------------------- */
.roll-network{
	position: fixed;
    right: 15px;
    bottom: 15px;
    z-index: 9999;
}

.roll-network .block-roll{
    position: relative;
}

.roll-network .block-roll.open-is .block-roll-network{
    overflow: visible;
    height: 300px;
    transition: all 0.3s ease-in-out;
    opacity: 1;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 10px 0;
    box-shadow: 0 5px 20px 0 rgba(0,0,0,.1)!important;
    z-index: 3;
}

.roll-network .block-roll .ico-roll-network::after{
    content: "";
    background-image: url(../img/network/mess-01.svg);
    width: 32px;
    height: 32px;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -16px;
    margin-left: -16px;
}

.roll-network .block-roll.open-is .ico-roll-network::after{
    content: "+";
    background-image: none;
    text-align: center;
    font-size: 42px;
    font-weight: 100;
    transform: rotate(45deg);
    color: #fff;
    line-height: 32px;
}

.roll-network .block-roll .block-roll-network{
    height: 0px;
    overflow: hidden;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    right: 0;
    width: 215px;
    bottom: 80px;
}

.roll-network .block-roll.open-is .block-roll-network::after{
    content: ""!important;
    position: absolute!important;
    width: 0!important;
    height: 0!important;
    bottom: -12px!important;
    border-left: 12px solid transparent!important;
    border-right: 12px solid transparent!important;
    border-top-width: 12px;
    border-top-style: solid!important;
    z-index: 0!important;
    border-color: #fff;
    right: 16px;
}

.roll-network .block-roll.open-is .message-list{
    display: none;
}

.roll-network .block-roll .ico-roll-network{
    background-color: #688BE1;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 5px 20px 0 rgba(0,0,0,.1)!important;
}

.roll-network .block-roll .block-roll-network{
    position: absolute;
    bottom: 80px;
}

.roll-network .block-roll .block-roll-network .item{
    position: relative;
    padding: 5px 15px;
}

.roll-network .block-roll .block-roll-network .item:hover{
    background-color: #f1f2f7;
}

.roll-network .block-roll .block-roll-network a{
    position: relative;
    cursor: pointer;
    display: block;
    transition: all 0.3s ease-in-out;
    padding-left: 40px;
    height: 30px;
    line-height: 32px;
    text-decoration: none;
    font-size: 14px;
    color: #425660;
}

.roll-network .block-roll .block-roll-network a:hover{
    opacity: 0.6;
    transition: all 0.3s ease-in-out;
}

.roll-network .block-roll .block-roll-network a.chat-teleg-icon::after{
    content: "";
    background-image: url(../img/network/teleg.svg);
    background-color: #27A3E3;

    background-size: 16px 16px;
    background-position: 45% 50%;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    display: block;
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 0;
    margin-top: -15px;
}

.roll-network .block-roll .block-roll-network a.chat-viber-icon::after{
    content: "";
    background-image: url(../img/network/viber.svg);
    background-color: #8B66A9;
    background-size: 20px 20px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    display: block;
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 0;
    margin-top: -15px;
}

.roll-network .block-roll .block-roll-network a.chat-phone-icon::after{
    content: "";
    background-image: url(../img/network/phone.svg);
    background-color: #364952;
    background-size: 16px 16px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    display: block;
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 0;
    margin-top: -15px;
}

.roll-network .block-roll .block-roll-network a.chat-whats-icon::after{
    content: "";
    background-image: url(../img/network/whatsapp.svg);
    background-color: #25CC62;
    background-size: 16px 16px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    display: block;
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 0;
    margin-top: -15px;
}

.roll-network .block-roll .block-roll-network a.chat-vk-icon::after{
    content: "";
    background-image: url(../img/network/vk.svg);
    background-color: #4E7DB2;
    background-size: 16px 16px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    display: block;
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 0;
    margin-top: -15px;
}

.roll-network .block-roll .block-roll-network a.chat-fb-icon::after{
    content: "";
    background-image: url(../img/network/fb.svg);
    background-color: #4867AA;
    background-size: 16px 16px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    display: block;
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 0;
    margin-top: -15px;
}

.roll-network .block-roll .block-roll-network a.chat-chat-icon::after{
    content: "";
    background-image: url(../img/network/chat.svg);
    background-color: #800c7a;
    background-size: 16px 16px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    display: block;
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 0;
    margin-top: -15px;
}

.roll-network .message-list{
    position: absolute;
    bottom: 80px;
    right: 0px;
    width: 130px;
    transition: all 0.3s ease-in-out;
    opacity: 1;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 5px 20px 0 rgba(0,0,0,.1)!important;
    text-decoration: none;
    font-size: 14px;
    color: #425660;
    text-align: center;
    z-index: 1;
    transition: all 0.3s ease-in-out;
}

.roll-network .message-list:hover{
    color: #6695E2;
    transition: all 0.3s ease-in-out;
}

.roll-network .message-list::after {
    content: ""!important;
    position: absolute!important;
    width: 0!important;
    height: 0!important;
    bottom: -12px!important;
    border-left: 12px solid transparent!important;
    border-right: 12px solid transparent!important;
    border-top-width: 12px;
    border-top-style: solid!important;
    z-index: 0!important;
    border-color: #fff;
    right: 16px;
}

@media (max-width: 1200px) {
    header .project-title span {
        display: none;
    }

    .click-project::before {
        content: "";
        background-image: url(../img/nav-project.svg);
        height: 23.25px;
        width: 27px;
        display: block;
        float: left;
    }

    header .project-title span.ico-down-arr {
        display: block;
    }
}


@media (max-width: 1340px) {
    .widget-container table thead th span {
        display: none;
    }

    th.s-n::before {
        content: attr(data-title);
        display: inline;
    }

    .container-table table thead th span:last-child {
        display: inline;
    }
}

@media (max-width: 1600px) {
    .project .col-2 {
        -ms-flex: 0 0 50%;
        -webkit-box-flex: 0;
        flex: 0 0 50%;
        max-width: 50%;
    }

    .project .item {
        margin-bottom: 20px;
        width: 100%;
        min-height: calc(100% - 25px);
    }
}

@media (max-width: 1100px) {
    .menu-head {
        display: none
    }

    header .menu-burger {
        display: block;
    }
}


@media (max-width: 930px) {
    .stattrtaff .subtitle {
        width: 100%;
    }

    .text-labl {
        max-width: 154px;
        display: inline-block;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    h1,
    h2 {
        font-size: 36px !important;
        line-height: 40px !important;
    }

    .stattrtaff .subtitle {
        font-size: 20px;
    }

    section {
        padding: 40px 0;
    }

    header .logo a {
        width: 43px;
        overflow: hidden;
        background-size: cover;
    }
}


@media (max-width: 630px) {
	
	.roll-network .message-list	{
        display: none;
    }

    .partner {
        height: 550px;
    }

    .nav-menu {
        width: 100%;
    }

    header .menu-burger {
        margin-left: 10px;
    }

    section.contact .block-contact {
        position: static;
        top: initial;
        left: initial;
        width: 100%;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .widget-title,
    .date {
        font-size: 20px;
    }

    header .project-title .click-project {
        padding: 13px 10px;
    }

    header .logo {
        padding-right: 10px;
    }

    .project h2 {
        padding-bottom: 40px;
    }

    .partner,
    .project {
        height: auto;
        padding: 40px 0;
    }

    table tr td:nth-child(2),
    table tr th:nth-child(2),
    table tr td:nth-child(1),
    table tr th:nth-child(1) {
        width: initial;
    }

    th.s-n::before {
        content: attr(data-title);
        display: inline;
        max-width: 64px;
        display: inline-block;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .text-labl {
        max-width: 90px;
    }

    .contact-head {
        text-align: right;
        margin: 6px 10px 6px 0;
    }

    header .login.btn::after {
        content: "";
        background: url(../img/user.svg);
        height: 17px;
        width: 15px;
        display: block;
    }

    .contact-head a.mail {
        text-align: right;
        margin-bottom: 7px;
    }

    .contact-head a.phone {
        font-size: 14px;
    }

    header .login.btn span {
        display: none;
    }

    header .login.btn {
        padding: 10.5px 10px;
    }

    .project .col-2 {
        -ms-flex: 0 0 100%;
        -webkit-box-flex: 0;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .project .container {
        width: 100%;
    }

    footer .col-6 {
        -ms-flex: 0 0 100%;
        -webkit-box-flex: 0;
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 0px;
        text-align: center;
    }

    footer .copy {
        width: 100%;
        text-align: center;
        float: none;
        padding-bottom: 20px;
    }

    .confidential {
        margin-top: 20px;
        text-align: center;
    }

    footer .bg-foot-first a,
    footer .bg-foot-last a {
        display: block;
        margin: 5px 0;
    }

    footer .nw {
        float: none;
        display: inline-block;
    }
}

@media (max-width: 580px) {
    .text-labl {
        max-width: 30px;
    }
}

@media (max-width: 580px) {
    th.s-n::before {
        content: attr(data-title);
        display: inline;
        max-width: 34px;
        display: inline-block;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}

@media (max-width: 475px) and (min-width: 280px) {
    .rotate-phone {
        display: none;
    }

    .rotate-block {
        display: block;
        padding: 10%;
        text-align: center;
        font-size: 18px;
        border: 1px solid #5c95e9;
        margin: 0;
        color: #5c95e9;
    }
}